
@{
    ViewData["Title"] = "Графики";
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}

<link href="~/esnow/lib/сhart.js/dist/Chart.css" rel="stylesheet" />
<script src="~/esnow/lib/moment.js/moment.js"></script>
<script src="~/esnow/lib/сhart.js/dist/Chart.js"></script>

<h1>Графики</h1>

@*<label>@ViewBag.WMAName</label>*@

<input id="id" value="@ViewBag.Id" type="hidden" />

<select id="chart1DateFrom" onchange="Chart1()">
    @foreach (DateTime dateTime in (DateTime[])ViewBag.DateTime)
    {
        <option value="@dateTime">
            @dateTime.ToString("yyyy-MM-dd")
        </option>
    }
</select>
<select id="chart1DateTo" onchange="Chart1()">
    @foreach (DateTime dateTime in (DateTime[])ViewBag.DateTime)
    {
        <option value="@dateTime" selected="selected">
            @dateTime.ToString("yyyy-MM-dd")
        </option>
    }
</select>
<canvas width="704" height="352" class="chartjs-render-monitor" id="canvas1" style="width: 704px; height: 352px; display: block;"></canvas>

<label>
    Спутник:
</label>
<label>
    TERRA
</label>
<label>
    Продукт:
</label>
<label>
    MODIS 8-day
</label>
<label>
    Среднее:
</label>
<label>
    @ViewBag.Mean
</label>
<label>
    Shape:
</label>
<label>
    @ViewBag.ShapeName
</label>
<label>
    Тип:
</label>
<select id="chart2DataType" onchange="Chart2()">
    <option value="0">Потерянные данные</option>
    <option value="1">Нет решения</option>
    <option value="11">Ночь</option>
    <option value="25">Нет снега</option>
    <option value="37">Озеро</option>
    <option value="39">Море</option>
    <option value="50">Облако</option>
    <option value="100">Лед</option>
    <option value="200" selected="selected">Снег</option>
    <option value="254">Детектор насыщен</option>
    <option value="255">Заполнено</option>
</select>
<label>
    Первый месяц:
</label>
<select id="chart2StartMonth" onchange="Chart2()">
    <option value="1">Январь</option>
    <option value="2">Февраль</option>
    <option value="3">Март</option>
    <option value="4">Апрель</option>
    <option value="5">Май</option>
    <option value="6">Июнь</option>
    <option value="7">Июль</option>
    <option value="8">Август</option>
    <option value="9">Сентябрь</option>
    <option value="10">Октябрь</option>
    <option value="11">Ноябрь</option>
    <option value="12">Декабрь</option>
</select>
<label>
    Количество месяцев:
</label>
<select id="chart2MonthsCount" onchange="Chart2()">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12" selected="selected">12</option>
</select>
<label>
    Выбранные годы:
</label>
<select id="chart2Years" multiple onchange="Chart2()">
    @foreach (int year in ((DateTime[])ViewBag.DateTime).Select(d => d.Date.Year).Distinct())
    {
        <option value="@year" selected="selected">
            @year.ToString()
        </option>
    }
</select>
<canvas width="704" height="352" class="chartjs-render-monitor" id="canvas2" style="width: 704px; height: 352px; display: block;"></canvas>

<label>
    Тип:
</label>
<select id="chart3DataType" onchange="Chart3()">
    <option value="0">Потерянные данные</option>
    <option value="1">Нет решения</option>
    <option value="11">Ночь</option>
    <option value="25">Нет снега</option>
    <option value="37">Озеро</option>
    <option value="39">Море</option>
    <option value="50">Облако</option>
    <option value="100">Лед</option>
    <option value="200" selected="selected">Снег</option>
    <option value="254">Детектор насыщен</option>
    <option value="255">Заполнено</option>
</select>
<label>
    Первый месяц:
</label>
<select id="chart3StartMonth" onchange="Chart3()">
    <option value="1">Январь</option>
    <option value="2">Февраль</option>
    <option value="3">Март</option>
    <option value="4">Апрель</option>
    <option value="5">Май</option>
    <option value="6">Июнь</option>
    <option value="7">Июль</option>
    <option value="8">Август</option>
    <option value="9">Сентябрь</option>
    <option value="10">Октябрь</option>
    <option value="11">Ноябрь</option>
    <option value="12">Декабрь</option>
</select>
<label>
    Выбранные годы:
</label>
<select id="chart3Years" multiple onchange="Chart3()">
    @foreach (int year in ((DateTime[])ViewBag.DateTime).Select(d => d.Date.Year).Distinct())
    {
        <option value="@year" selected="selected">
            @year.ToString()
        </option>
    }
</select>
<canvas width="704" height="352" class="chartjs-render-monitor" id="canvas3" style="width: 704px; height: 352px; display: block;"></canvas>

<script>
    var colors = [
        {
            type: '0',
            color: '#000000',
            label: 'Потерянные данные'
        },
        {
            type: '1',
            color: '#FFFF73',
            label: 'Нет решения'
        },
        {
            type: '11',
            color: '#730000',
            label: 'Ночь'
        },
        {
            type: '25',
            color: '#FFFFFF',
            label: 'Нет снега'
        },
        {
            type: '37',
            color: '#005CE6',
            label: 'Озеро'
        },
        {
            type: '39',
            color: '#0000FF',
            label: 'Море'
        },
        {
            type: '50',
            color: '#ff73de',
            label: 'Облако'
        },
        {
            type: '100',
            color: '#7ab6f5',
            label: 'Лед'
        },
        {
            type: '200',
            color: '#bee8ff',
            label: 'Снег'
        },
        {
            type: '254',
            color: '#FF0000',
            label: 'Детектор насыщен'
        },
        {
            type: '255',
            color: '#FFF000',
            label: 'Заполнено'
        }
    ]

    var chart1 = null,
        chart2 = null,
        chart3 = null;

    function Chart1() {
        $.ajax({
            url: '@Url.Action("GetWMAInfo1")',
            data: {
                Id: @ViewBag.Id,
                DateTimeFrom: $('#chart1DateFrom').val(),
                DateTimeTo: $('#chart1DateTo').val()
            },
            type: 'POST',
            success: function (data) {
                var barChartData1 = {
                    labels: [],
                    datasets: []
                };
                // labels
                for (i = 0; i < data.datasets.length; i++) {
                    if (!barChartData1.labels.includes(moment(data.datasets[i].date).format('YYYY-MM-DD'))) {
                        barChartData1.labels.push(moment(data.datasets[i].date).format('YYYY-MM-DD'))
                    }
                }
                // data (datasets)
                for (i = 0; i < data.datasets.length; i++) {
                    var exist = false;
                    for (k = 0; k < barChartData1.datasets.length; k++) {
                        if (barChartData1.datasets[k].snowtype == data.datasets[i].dataType) {
                            exist = true;
                            barChartData1.datasets[k].data.push(data.datasets[i].area.toFixed(2));
                        }
                    }
                    if (!exist) {
                        var backgroundColor = '#000000',
                            label = '',
                            hidden = true;
                        for (k = 0; k < colors.length; k++) {
                            if (colors[k].type == data.datasets[i].dataType) {
                                backgroundColor = colors[k].color;
                                label = colors[k].label;
                                if (label == 'Снег') {
                                    hidden = false;
                                }
                                break;
                            }
                        }
                        barChartData1.datasets.push({
                            label: label,
                            snowtype: data.datasets[i].dataType,
                            backgroundColor: backgroundColor,
                            borderColor: '#000000',
                            borderWidth: 0.25,
                            data: [data.datasets[i].area],
                            hidden: hidden
                        });
                    }
                }
                // chart
                var ctx1 = document.getElementById('canvas1').getContext('2d');
                if (chart1 != null) {
                    chart1.destroy();
                }
                chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: barChartData1,
                    options: {
                        title: {
                            display: true,
                            text: data.wmainfo
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Дата'
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Площадь, м²'
                                }
                            }]
                        }
                    }
                });
            },
            error: function () {
                console.log('Error 1');
            }
        });
    };

    function Chart2() {
        $.ajax({
            url: '@Url.Action("GetWMAInfo2")',
            data: {
                Id: @ViewBag.Id,
                DataType: $('#chart2DataType').val(),
                StartMonth: $('#chart2StartMonth').val(),
                MonthsCount: $('#chart2MonthsCount').val(),
                Years: $('#chart2Years').val()
            },
            type: 'POST',
            success: function (data) {
                var dateFormat = 'YYYY-MM-DD';
                var barChartData2 = {
                    labels: [],
                    datasets: []
                };
                // labels
                for (i = 0; i < data.datasetsamm.length; i++) {
                    barChartData2.labels.push(moment(data.datasetsamm[i].date).toDate());
                }
                // data (datasets)
                barChartData2.datasets.push({
                    label: 'Среднее за выбранные годы',
                    backgroundColor: '#ff0000',
                    borderColor: '#ff0000',
                    borderWidth: 2,
                    fill: false,
                    lineTension: 0,
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Среднее за все годы',
                    backgroundColor: '#000000',
                    borderColor: '#000000',
                    borderWidth: 2,
                    fill: false,
                    lineTension: 0,
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Минимум',
                    backgroundColor: "rgba(195,195,195,0.5)",
                    borderColor: '#c3c3c3',
                    borderWidth: 2,
                    fill: '+1',
                    lineTension: 0,
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Максимум',
                    backgroundColor: '#c3c3c3',
                    borderColor: '#c3c3c3',
                    borderWidth: 2,
                    fill: false,
                    lineTension: 0,
                    data: []
                });
                for (i = 0; i < data.datasetsyears.length; i++) {
                    barChartData2.datasets[0].data.push({
					    x: moment(data.datasetsyears[i].date).format(dateFormat),
					    y: data.datasetsyears[i].area_avg.toFixed(2)
				    });
                }
                for (i = 0; i < data.datasetsamm.length; i++) {
                    barChartData2.datasets[1].data.push({
					    x: moment(data.datasetsamm[i].date).format(dateFormat),
					    y: data.datasetsamm[i].area_avg.toFixed(2)
				    });
                    barChartData2.datasets[2].data.push({
					    x: moment(data.datasetsamm[i].date).format(dateFormat),
					    y: data.datasetsamm[i].area_min.toFixed(2)
				    });
                    barChartData2.datasets[3].data.push({
					    x: moment(data.datasetsamm[i].date).format(dateFormat),
					    y: data.datasetsamm[i].area_max.toFixed(2)
				    });
                }
                // chart
                var ctx2 = document.getElementById('canvas2').getContext('2d');
                if (chart2 != null) {
                    chart2.destroy();
                }
                chart2 = new Chart(ctx2, {
                    type: 'line',
                    data: barChartData2,
                    options: {
                        title: {
                            display: true,
                            text: data.wmainfo
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
							        parser: dateFormat,
							        //tooltipFormat: 'll HH:mm',
                                    tooltipFormat: 'MM-DD',
                                    displayFormats: {
                                        'millisecond': 'MM-DD',
                                        'second': 'MM-DD',
                                        'minute': 'MM-DD',
                                        'hour': 'MM-DD',
                                        'day': 'MM-DD',
                                        'week': 'MM-DD',
                                        'month': 'MM-DD',
                                        'quarter': 'MM-DD',
                                        'year': 'MM-DD'
                                    }
						        },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Месяц, день'
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Площадь, м²'
                                }
                            }]
                        },
                        plugins: {
                            filler: {
                                propagate: false
                            }
                        }
                    }
                });
            },
            error: function () {
                console.log('Error 2');
            }
        });
    };

    var dynamicColors = function() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };

    function Chart3() {
        $.ajax({
            url: '@Url.Action("GetWMAInfo3")',
            data: {
                Id: @ViewBag.Id,
                DataType: $('#chart3DataType').val(),
                StartMonth: $('#chart3StartMonth').val(),
                Years: $('#chart3Years').val()
            },
            type: 'POST',
            success: function (data) {
                var dateFormat = 'YYYY-MM-DD';
                var barChartData3 = {
                    labels: [],
                    datasets: []
                };
                // labels
                for (i = 0; i < data.datasetsamm.length; i++) {
                    barChartData3.labels.push(moment(data.datasetsamm[i].date).toDate());
                }
                // data (datasets)
                barChartData3.datasets.push({
                    label: 'Среднее',
                    backgroundColor: '#000000',
                    borderColor: '#000000',
                    borderWidth: 2,
                    fill: false,
                    lineTension: 0,
                    data: []
                });
                barChartData3.datasets.push({
                    label: 'Минимум',
                    backgroundColor: "rgba(195,195,195,0.5)",
                    borderColor: '#c3c3c3',
                    borderWidth: 2,
                    fill: '+1',
                    lineTension: 0,
                    data: []
                });
                barChartData3.datasets.push({
                    label: 'Максимум',
                    backgroundColor: '#c3c3c3',
                    borderColor: '#c3c3c3',
                    borderWidth: 2,
                    fill: false,
                    lineTension: 0,
                    data: []
                });
                for (i = 0; i < data.datasetsamm.length; i++) {
                    barChartData3.datasets[0].data.push({
					    x: moment(data.datasetsamm[i].date).format(dateFormat),
					    y: data.datasetsamm[i].area_avg.toFixed(2)
				    });
                    barChartData3.datasets[1].data.push({
					    x: moment(data.datasetsamm[i].date).format(dateFormat),
					    y: data.datasetsamm[i].area_min.toFixed(2)
				    });
                    barChartData3.datasets[2].data.push({
					    x: moment(data.datasetsamm[i].date).format(dateFormat),
					    y: data.datasetsamm[i].area_max.toFixed(2)
				    });
                }
                for (i = 0; i < data.datasetsyears.length; i++) {
                    var exist = false;
                    for (k = 0; k < barChartData3.datasets.length; k++) {
                        if (barChartData3.datasets[k].yearchart == data.datasetsyears[i].yearchart) {
                            exist = true;
                            barChartData3.datasets[k].data.push({
					            x: moment(data.datasetsyears[i].date).format(dateFormat),
					            y: data.datasetsyears[i].area.toFixed(2)
				            });
                        }
                    }
                    if (!exist) {
                        var color = dynamicColors();
                        barChartData3.datasets.push({
                            label: data.datasetsyears[i].yearchart,
                            yearchart: data.datasetsyears[i].yearchart,
                            backgroundColor: color,
                            borderColor: color,
                            borderWidth: 2,
                            fill: false,
                            lineTension: 0,
                            data: [{
					            x: moment(data.datasetsyears[i].date).format(dateFormat),
					            y: data.datasetsyears[i].area.toFixed(2)
				            }]
                        });
                    }

                }
                // chart
                var ctx3 = document.getElementById('canvas3').getContext('2d');
                if (chart3 != null) {
                    chart3.destroy();
                }
                chart3 = new Chart(ctx3, {
                    type: 'line',
                    data: barChartData3,
                    options: {
                        title: {
                            display: true,
                            text: data.wmainfo
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
							        parser: dateFormat,
							        //tooltipFormat: 'll HH:mm',
                                    tooltipFormat: 'MM-DD',
                                    displayFormats: {
                                        'millisecond': 'MM-DD',
                                        'second': 'MM-DD',
                                        'minute': 'MM-DD',
                                        'hour': 'MM-DD',
                                        'day': 'MM-DD',
                                        'week': 'MM-DD',
                                        'month': 'MM-DD',
                                        'quarter': 'MM-DD',
                                        'year': 'MM-DD'
                                    }
						        },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Месяц, день'
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Площадь, м²'
                                }
                            }]
                        },
                        plugins: {
                            filler: {
                                propagate: false
                            }
                        }
                    }
                });
            },
            error: function () {
                console.log('Error 3');
            }
        });
    };

    $(document).ready(function () {
        Chart1();
        Chart2();
        Chart3();
    });
</script>

<script>
    function Chart1Old() {
        $.ajax({
            url: '@Url.Action("GetWMAInfo1")',
            data: {
                Id: @ViewBag.Id,
                DateTimeFrom: $('#chart1DateFrom').val(),
                DateTimeTo: $('#chart1DateTo').val()
            },
            type: 'POST',
            success: function (data) {
                var barChartData1 = {
                    labels: [],
                    datasets: []
                };

                barChartData1.labels = [];
                barChartData1.datasets = [];
                for (i = 0; i < data.rasterstats.length; i++) {
                    barChartData1.labels.push(moment(data.rasterstats[i].date).format('YYYY-MM-DD'));
                    for (j = 0; j < data.rasterstats[i].snowData.length; j++) {
                        var exist = false;
                        for (k = 0; k < barChartData1.datasets.length; k++) {
                            if (barChartData1.datasets[k].snowtype == data.rasterstats[i].snowData[j].dataType) {
                                exist = true;
                                barChartData1.datasets[k].data.push(data.rasterstats[i].snowData[j].area.toFixed(2));
                            }
                        }
                        if (!exist) {
                            var backgroundColor = '#000000',
                                label = '';
                            for (k = 0; k < colors.length; k++) {
                                if (colors[k].type == data.rasterstats[i].snowData[j].dataType) {
                                    backgroundColor = colors[k].color;
                                    label = colors[k].label;
                                    break;
                                }
                            }
                            barChartData1.datasets.push({
                                label: label,
                                snowtype: data.rasterstats[i].snowData[j].dataType,
                                backgroundColor: backgroundColor,
                                borderColor: '#000000',
                                borderWidth: 1,
                                data: [data.rasterstats[i].snowData[j].area]
                            });
                        }
                    }
                }

                var ctx1 = document.getElementById('canvas1').getContext('2d');
                if (chart1 != null) {
                    chart1.destroy();
                }
                chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: barChartData1,
                    options: {
                        title: {
                            display: true,
                            text: data.wmaname
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Дата'
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Площадь, м²'
                                }
                            }]
                        }
                    }
                });
            },
            error: function () {
                console.log('Error');
            }
        });
    };

    function Chart2Old() {
        $.ajax({
            url: '@Url.Action("GetWMAInfo2")',
            data: {
                Id: @ViewBag.Id,
                StartMonth: $('#chart2StartMonth').val(),
                MonthsCount: $('#chart2MonthsCount').val(),
                Years: $('#chart2Years').val()
            },
            type: 'POST',
            success: function (data) {
                var barChartData2 = {
                    labels: [],
                    datasets: []
                };

                barChartData2.labels = [];
                barChartData2.datasets = [];
                var color2 = '#000000',
                    label = '';
                for (k = 0; k < colors.length; k++) {
                    if (colors[k].type == $('#chart2DataType').val()) {
                        color2 = colors[k].color;
                        label = colors[k].label;
                        break;
                    }
                }
                barChartData2.datasets.push({
                    label: label,
                    backgroundColor: color2,
                    borderColor: color2,
                    borderWidth: 2,
                    fill: false,
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Среднее',
                    backgroundColor: '#ff0000',
                    borderColor: '#ff0000',
                    borderWidth: 2,
                    fill: false,
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Минимум',
                    backgroundColor: '#c3c3c3',
                    borderColor: '#c3c3c3',
                    borderWidth: 2,
                    fill: '+1',
                    data: []
                });
                barChartData2.datasets.push({
                    label: 'Максимум',
                    backgroundColor: '#c3c3c3',
                    borderColor: '#c3c3c3',
                    borderWidth: 2,
                    fill: false,
                    data: []
                });
                //for (i = 0; i < data.rasterstats.length; i++) {
                //    barChartData2.labels.push(moment(data.rasterstats[i].date).format('YYYY-MM-DD'));
                //    for (j = 0; j < data.rasterstats[i].snowData.length; j++) {
                //        if (data.rasterstats[i].snowData[j].dataType == $('#chart2DataType').val()) {
                //            barChartData2.datasets[0].data.push(data.rasterstats[i].snowData[j].area.toFixed(2));
                //        }
                //    }
                //}
                for (i = 0; i < data.avgyears.length; i++) {
                    if (data.avgyears[i].dataType == $('#chart2DataType').val()) {
                        barChartData2.labels.push(moment(data.avgyears[i].date).format('YYYY-MM-DD'));
                        barChartData2.datasets[0].data.push(data.avgyears[i].area.toFixed(2));
                    }
                }
                for (i = 0; i < data.avg.length; i++) {
                    if (data.avg[i].dataType == $('#chart2DataType').val()) {
                        barChartData2.datasets[1].data.push(data.avg[i].area.toFixed(2));
                    }
                }
                for (i = 0; i < data.min.length; i++) {
                    if (data.min[i].dataType == $('#chart2DataType').val()) {
                        barChartData2.datasets[2].data.push(data.min[i].area.toFixed(2));
                    }
                }
                for (i = 0; i < data.max.length; i++) {
                    if (data.max[i].dataType == $('#chart2DataType').val()) {
                        barChartData2.datasets[3].data.push(data.max[i].area.toFixed(2));
                    }
                }
                var ctx2 = document.getElementById('canvas2').getContext('2d');
                if (chart2 != null) {
                    chart2.destroy();
                }
                chart2 = new Chart(ctx2, {
                    type: 'line',
                    data: barChartData2,
                    options: {
                        title: {
                            display: true,
                            text: data.wmaname
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                //stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Дата'
                                }
                            }],
                            yAxes: [{
                                //stacked: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Площадь, м²'
                                }
                            }]
                        },
                        plugins: {
                            filler: {
                                propagate: false
                            }
                        }
                    }
                });
            },
            error: function () {
                console.log('Error');
            }
        });
    };
</script>