@using GeoNodeWeb.Controllers
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Карта";
    Layout = "~/Views/Shared/_LayoutEsnow.cshtml";
}

<link href="~/esnow/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
<script src="~/esnow/lib/jquery-ui/jquery-ui.js"></script>
<link href="~/esnow/lib/ol/ol.css" rel="stylesheet" />
<script src="~/esnow/lib/ol/ol.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
@*jBox*@
<link href="~/esnow/lib/vendor/jBox/dist/jBox.all.css" rel="stylesheet" />
<script src="~/esnow/lib/vendor/jBox/dist/jBox.all.js"></script>

<div class="container-fluid p-0">
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Sidebar -->
        <nav class="sidebar">
            <!-- close sidebar menu -->
            <div class="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="logo">
                <h3><a href="#">ESnow @SharedLocalizer["Menu"]</a></h3>
            </div>
            <div class="card-body p-2">
                <form>
                    <label class="m-0" for="DataSet">@SharedLocalizer["Dataset"]</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control" id="DataSet">
                            <option>Terra Modis 8-day</option>
                            <option>Aqua Modis 8-day</option>
                            <option>Terra Daily Tile</option>
                            <option>Aqua Daily Tile</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" target="_blank">
                                    <i class="SomeInfo fa fa-info-circle" InfoTitle="Full Information"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- for Dataset -->
                    <label class="m-0" for="ModisLayer">Product</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control" id="ModisLayer" onchange="DatasetChange(); LegendChange();">
                            <option value="MOST_MOD10A2006_B00_MaxSnowExtent_4326">Max Snow Extent</option>
                            <option value="MOSA_MYD10A2006_B00_MaxSnowExtent_4326">Aqua MYD10A2 / Max Snow Extent</option>
                            <option value="MOST_MOD10C2006_B00_NDSI_4326_KZ">Terra MOD10C2 / NDSI</option>
                            <option value="MOST_MOD10C2006_B00_NDSI_4326_KZ_Anomaly">Terra MOD10C2 / NDSI (@SharedLocalizer["Anomaly"])</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" id="LegendBtn" class="target-click">
                                    <i class="SomeInfo fa fa-tag" InfoTitle="Legend"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <input id="layerMODISOpacity" type="range" class="form-control-range" min="0" max="100" value="80" />
                    <!-- Year -->
                    <label class="m-0" for="year">@SharedLocalizer["Year"]</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control" id="year" onchange="YearChange()">
                            <option>2020</option>
                            <option>2019</option>
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" id="layerMODISShow" checked="checked">
                            </div>
                        </div>
                    </div>
                    <label class="m-0" for="day">@SharedLocalizer["Day"]</label>
                    <!-- Day -->
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <a href="#" target="_blank">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </span>
                        </div>
                        <select class="custom-select" id="day" aria-describedby="DayHelpBlock" onchange="DayChange()">
                            <option>280 : 09/29 - 10/06</option>
                            <option>272 : 09/21 - 09/28</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" target="_blank">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            
            <ul class="list-unstyled menu-elements">
                <li>
                    <a href="#BaseMapSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="BaseMapSections">
                        <i class="fas fa-sync"></i>Base Map sections
                    </a>
                    <ul class="collapse list-unstyled" id="BaseMapSections">
                        <li>
                            <a class="scroll-link" href="#BaseMap1">Base Map 1</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#LayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="LayerSections">
                        <i class="fas fa-sync"></i>Layers:
                    </a>
                    <ul class="collapse list-unstyled" id="LayerSections">
                        <li>
                            <ul class="scroll-link " id="tree1">
                                <li>
                                    Label
                                    <ul>
                                        <li>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                                                <label class="form-check-label" for="inlineCheckbox1"> Adm Label 1</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
                                                <label class="form-check-label" for="inlineCheckbox2"> Layer 2</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
                                                <label class="form-check-label" for="inlineCheckbox3"> Layer 3</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    КАТО
                                    <ul>
                                        <li>Layer 1</li>
                                        <li>Layer 2</li>
                                        <li>Layer 3</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    @*<ul class="collapse list-unstyled" id="LayerSections">
                <li>
                    <a class="scroll-link" href="#Layer1">Layer 1</a>
                </li>
                <li>
                    <a class="scroll-link" href="#Layer2">Layer 2</a>
                </li>
            </ul>*@
                </li>
                <li class="">
                    <a class="scroll-link" href="#"><i class="fas fa-home"></i> Home</a>
                </li>
            </ul>
            <div class="to-top">
                <a class="btn btn-primary btn-customized-3" href="#" role="button">
                    <i class="fas fa-bar-chart"></i> Chart
                </a>
            </div>

            <div class="dark-light-buttons">
                <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
                <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
            </div>
        </nav>
        <!-- End sidebar -->
        <!-- Dark overlay -->
        <div class="overlay"></div>
        <!-- Content -->
        <div class="content">
            <!-- open sidebar menu -->
            <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
                <i class="fas fa-snowflake-o"></i> <span>@SharedLocalizer["Menu"]</span>
            </a>
            <!-- Map content -->
            <div id="map" class="position-fixed col-md-12 col-lg-12 m-0 p-0 bg-light" style="height: 100vh;"></div>
            <!-- Footer -->
        </div>
        <!-- End content -->
    </div>
    <!-- End wrapper -->
</div>
<div id="ndsilegenddialog" title="Легенда" hidden="hidden" style="width: 200px;">
    <img src="~/lib/images/Logo Water G.jpg" style="width: 220px;" />
</div>
<div class="tab-content mt-n2" id="InfoMapTabContent">
    <h3 id="clickX">0</h3>
    <h3 id="clickY">0</h3>
</div>

@* Tree *@
<script>
    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-folder-minus';
            var closedClass = 'fa-folder-plus';
            if (typeof o != 'undefined') {
                if (typeof o.openedClass != 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass != 'undefined') {
                    closedClass = o.closedClass;
                }
            };

            //initialize each of the top levels
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this); //li with children ul
                branch.prepend("<i class='fa " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this == e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                })
                branch.children().children().toggle();
            });
            //fire event from the dynamically added icon
            tree.find('.branch .fa').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            //fire event to open branch if the li contains an anchor instead of text
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            //fire event to open branch if the li contains a button instead of text
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    //Initialization of treeviews

    $('#tree1').treed();
</script>

@* Layers, Measure, map *@
<script type="text/javascript">
    var geoserver_url = '@ViewBag.GeoServerUrl';
    //geoserver_url = 'localhost:8080/geoserver/';

    var Source_OSM = new ol.source.OSM();
    var Layer_Base = new ol.layer.Tile({
        source: Source_OSM
    });
    Layer_Base.set('name', 'Base');
    Layer_Base.setOpacity(0.80);

    var url_modis = geoserver_url + 'MODIS' + '/wms';
    var Source_modis = new ol.source.TileWMS({
        url: url_modis,
        params: {
            'FORMAT': 'image/png',
            //'VERSION': '1.1.1',
            //tiled: true,
            'LAYERS': 'MODIS:A2020241_MOST_MOD10A2006_B00_MaxSnowExtent_4326'
        },
        serverType: 'geoserver'
    });
    var Layer_modis = new ol.layer.Tile({
        source: Source_modis
    });
    Layer_modis.set('name', 'modis');
    Layer_modis.setOpacity(0.80);

    var map = new ol.Map({
        target: 'map',
        controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
            new ol.control.ScaleLine()
        ]),
        layers: [
            Layer_Base,
            Layer_modis],
        view: new ol.View({
            center: ol.proj.fromLonLat([66.902, 48.714]),
            zoom: 5,
            minZoom: 5,
            extent: [5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296]
        })
    });
</script>

@* DatasetChange, YearChange *@
<script>
    function DatasetChange() {
        $.ajax({
            url: '@Url.Action("GetModisYears")',
            data: {
                ModisLayer: $('#ModisLayer').val()
            },
            type: 'POST',
            success: function (data) {
                $('#year').empty();
                $.each(data.years, function () {
                    $('#year').append($('<option />').val(this).text(this));
                });
                $('#year option:last').attr('selected', 'selected');
                YearChange();
            },
            error: function () {
            }
        })
    }

    Date.prototype.addDays = function (days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }

    function YearChange() {
        $.ajax({
            url: '@Url.Action("GetModisDays")',
            data: {
                ModisLayer: $('#ModisLayer').val(),
                Year: $('#year').val()
            },
            type: 'POST',
            success: function (data) {
                $('#day').empty();
                $.each(data.days, function () {
                    var date = new Date($('#year').val(), 0, 1);
                    date = date.addDays(this - 1);
                    var datestring = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2);
                    $('#day').append($('<option />').val(this).text(datestring + ' (' + this + ')'));
                });
                $('#day option:last').attr('selected', 'selected');
                DayChange();
            },
            error: function () {
            }
        })
    }

    function DayChange() {
        ModisLayerChange();
    }
</script>

@* LegendChange *@
<script>
    function LegendChange() {
        $("#legend").attr("src", "/esnow/img/legend/" + $('#ModisLayer').val() + ".svg");
    }
</script>

@* ModisLayerChange *@
<script>
    function GetModisLayerName() {
        var date = $('#day').val();
        if (date.toString().length == 1) {
            date = '0' + date.toString();
        }
        if (date.toString().length == 2) {
            date = '0' + date.toString();
        }
        date = 'A' + $('#year').val() + date;
        var name = date + '_' + $('#ModisLayer').val();
        return name;
    }

    function ModisLayerChange() {
        var layerName = GetModisLayerName();
        console.log(layerName);
        var Source_modis_new = new ol.source.TileWMS({
            url: url_modis,
            params: {
                'FORMAT': 'image/png',
                "LAYERS": 'MODIS:' + layerName,
            },
            serverType: 'geoserver'
        });
        Layer_modis.setSource(Source_modis_new);
    }
</script>

@* map.on('singleclick') *@
<script>
    var clickX = 0,
        clickY = 0;
    var InfoMapModal;
    $(document).ready(function () {
        InfoMapModal = new jBox('Modal', {
            id: 'modal-info',
            minWidth: 600,
            maxHeight: 500,
            adjustTracker: 'scroll',
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'zoomIn',
            overlay: false,
            onOpen: function () {
                // Add t
                this.setContent($('#InfoMapTabContent'));
                this.setTitle('@SharedLocalizer["Info"]');
            },
        });
    });
    map.on('singleclick', function (evt) {
        clickX = ol.proj.toLonLat(evt.coordinate)[0];
        clickY = ol.proj.toLonLat(evt.coordinate)[1];
        $('#clickX').text(clickX);
        $('#clickY').text(clickY);
        InfoMapModal.open();
    })
</script>

@* Menu *@
<script>
    jQuery(document).ready(function () {
        /*
            Sidebar
        */
        $('.dismiss, .overlay').on('click', function () {
            $('.sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('.open-menu').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('active');
            // close opened sub-menus
            $('.collapse.show').toggleClass('show');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        /* change sidebar style */
        $('a.btn-customized-dark').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').removeClass('light');
        });
        $('a.btn-customized-light').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('light');
        });
    });
</script>

@*tooltips, modal windows*@
<script>
    $(document).ready(function () {
        // Map Title
        new jBox('Modal', {
            id: 'modal-maptitle',
            attach: '#MapTitleBtn',
            width: 260,
            blockScroll: false,
            animation: 'flip',
            closeButton: false,
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 10
            },
            content: '<div class="card-body text-white text-center p-0"><h4 class="card-title">Dataset</h5><p class="card-text mb-1">Product</p><p class="card-text">YYYY. JDay: DD/MM - DD/MM</p></div >',
            overlay: false,
            repositionOnOpen: false
        }).open();
        // Map Legend
        new jBox('Modal', {
            attach: '#LegendBtn',
            id: 'modal-maptitle',
            minWidth: 100,
            zIndex: 'auto',
            closeButton: true,
            overlay: false,
            reload: 'strict',
            animation: 'flip',
            adjustPosition: false,
            closeButton: true,
            position: {
                x: 'right',
                y: 'bottom'
            },
            offset: {
                x: -10,
                y: -20
            },
            onOpen: function () {
                this.setContent('<div class="p-0"><img id="legend" class="card-img-top" src="/esnow/img/legend/MOST_MOD10A2006_B00_MaxSnowExtent.svg"></div>');
            }
        }).open();
        // Tooltip below to the right
        new jBox('Tooltip', {
            theme: 'TooltipDark',
            zIndex: 'auto',
            attach: '.SomeInfo',
            getTitle: 'InfoTitle',
            position: {
                x: 'right',
                y: 'center'
            },
            outside: 'x' // Horizontal Tooltips need to change their outside position
        });

    });
</script>

@* $(document).ready *@
<script>
    $(document).ready(function () {
        DatasetChange();
    });
</script>