@using GeoNodeWeb.Controllers
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Карта";
    Layout = "~/Views/Shared/_LayoutEsnow.cshtml";
}

<link href="~/esnow/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
<script src="~/esnow/lib/jquery-ui/jquery-ui.js"></script>
<link href="~/esnow/lib/ol/ol.css" rel="stylesheet" />
<script src="~/esnow/lib/ol/ol.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
@*jBox*@
<link href="~/esnow/lib/vendor/jBox/dist/jBox.all.css" rel="stylesheet" />
<script src="~/esnow/lib/vendor/jBox/dist/jBox.all.js"></script>

<div class="container-fluid p-0">
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Sidebar -->
        <nav class="sidebar">
            <!-- close sidebar menu -->
            <div class="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="logo">
                <h3><a href="#">ESnow @SharedLocalizer["Menu"]</a></h3>
            </div>
            <div class="card-body p-1">
                <form>
                    @*<label class="m-0" for="DataSet">@SharedLocalizer["Dataset"]</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control" id="DataSet">
                            <option>Terra Modis 8-day</option>
                            <option>Aqua Modis 8-day</option>
                            <option>Terra Daily Tile</option>
                            <option>Aqua Daily Tile</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" target="_blank">
                                    <i class="ShortInfo fa fa-info-circle" InfoTitle="Full Information"></i>
                                </a>
                            </span>
                        </div>
                    </div>*@
                    <!-- for Dataset -->
                    <label class="m-0" for="ModisLayer">Product</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control" id="ModisLayer" onchange="DatasetChange(); LegendChange();">
                            <option value="MOST_MOD10A2006_B00_MaxSnowExtent_4326">Terra Modis 8-day Max Snow Extent</option>
                            <option value="MOSA_MYD10A2006_B00_MaxSnowExtent_4326">Aqua Modis 8-day Max Snow Extent</option>
                            <option value="MOST_MOD10A2006_B01_SnowCover_4326">Terra Modis 8-day Snow Cover</option>
                            <option value="MOSA_MYD10A2006_B01_SnowCover_4326">Aqua Modis 8-day Snow Cover</option>
                            <option value="MOST_MOD10C2006_B00_NDSI_4326_KZ">NDSI</option>
                            <option value="MOST_MOD10C2006_B00_NDSI_4326_KZ_Anomaly">NDSI (@SharedLocalizer["Anomaly"])</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" id="LegendBtn" class="target-click">
                                    <i class="ShortInfo fa fa-tag" InfoTitle="Legend"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <input id="layerMODISOpacity" type="range" class="form-control-range" min="0" max="100" value="80" />
                    <!-- Year -->
                    <label class="m-0" for="year">Year</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control" id="year" onchange="YearChange()">
                            @*<option>2020</option>
                            <option>2019</option>*@
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" id="layerMODISShow" checked="checked">
                            </div>
                        </div>
                    </div>
                    <label class="m-0" for="day">@SharedLocalizer["Day"]</label>
                    <!-- Day -->
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <a href="#" target="_blank">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </span>
                        </div>
                        <select class="custom-select" id="day" aria-describedby="DayHelpBlock" onchange="DayChange()">
                            @*<option>280 : 09/29 - 10/06</option>
                            <option>272 : 09/21 - 09/28</option>*@
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" target="_blank">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- tree section --> 
            <div class="scrollbar">
                <div class="overflow-auto" id="treesection" style="max-height: 45vh;">
                    <ul class="list-unstyled menu-elements">
                        <li class="tree">
                            <a href="#LayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="LayerSections">
                                <i class="fas fa-layer-group"></i>Layers:
                            </a>
                            <ul class="collapse list-unstyled" id="LayerSections">
                                <li>
                                    <ul>
                                        <li>
                                            <a data-toggle="collapse" href="#LayerLabel" aria-expanded="false" aria-controls="LayerLabel">
                                                <i class="collapsed"><i class="fas fa-plus-circle"></i></i>
                                                <i class="expanded"><i class="fas fa-minus-circle"></i></i> Label
                                            </a>
                                            <ul>
                                                <li id="LayerLabel" class="collapse scroll-link">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                        <label class="form-check-label" for="inlineCheckbox1">Admin Level 1</label>
                                                    </div>
                                                </li>
                                                <li id="LayerLabel" class="collapse">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                                        <label class="form-check-label" for="inlineCheckbox2">Admin Level 2</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" href="#LayerShape" aria-expanded="false" aria-controls="LayerShape">
                                                <i class="collapsed"><i class="fas fa-folder-plus"></i></i>
                                                <i class="expanded"><i class="far fa-folder-open"></i></i> Shape
                                            </a>
                                            <ul>
                                                <li id="LayerShape" class="collapse scroll-link">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" id="ShapeCheckbox1" value="option1">
                                                        <label class="form-check-label" for="ShapeCheckbox1">Admin Level 1</label>
                                                    </div>
                                                </li>
                                                <li id="LayerShape" class="collapse">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" id="ShapeCheckbox2" value="option2">
                                                        <label class="form-check-label" for="ShapeCheckbox2">Admin Level 2</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" href="#LayerMask" aria-expanded="false" aria-controls="LayerMask">
                                                <i class="collapsed"><i class="fas fa-folder-plus"></i></i>
                                                <i class="expanded"><i class="far fa-folder-open"></i></i> Mask
                                            </a>
                                            <ul>
                                                <li id="LayerMask" class="collapse scroll-link">
                                                    <a data-toggle="collapse" href="#LayerAspect" aria-expanded="false" aria-controls="LayerAspect">
                                                        <i class="collapsed"><i class="fas fa-plus-circle"></i></i>
                                                        <i class="expanded"><i class="fas fa-minus-circle"></i></i> Aspect of elevation <i class="fa fa-info-circle float-right ShortInfo"></i>
                                                    </a>
                                                    <ul>
                                                        <li id="LayerAspect" class="collapse scroll-link">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="inlineAspect1" value="option1">
                                                                <label class="form-check-label" for="inlineAspect1">Flat (-1)</label>
                                                            </div>
                                                        </li>
                                                        <li id="LayerAspect" class="collapse">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="inlineAspect2" value="option2">
                                                                <label class="form-check-label" for="inlineAspect2">North (0-22.5)</label>
                                                            </div>
                                                        </li>
                                                        <li id="LayerAspect" class="collapse">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="inlineAspect3" value="option3">
                                                                <label class="form-check-label" for="inlineAspect3">Northeast (22.5-67.5)</label>
                                                            </div>
                                                        </li>
                                                        <li id="LayerAspect" class="collapse">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="inlineAspect4" value="option4">
                                                                <label class="form-check-label" for="inlineAspect4">East (67.5-112.5)</label>
                                                            </div>
                                                        </li>
                                                        <li id="LayerAspect" class="collapse">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="inlineAspect4" value="option5">
                                                                <label class="form-check-label" for="inlineAspect5">Southeast (112.5-157.5)</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="LayerMask" class="collapse">
                                                    <a data-toggle="collapse" href="#LayerSrtm" aria-expanded="false" aria-controls="LayerSrtm">
                                                        <i class="collapsed"><i class="fas fa-plus-circle"></i></i>
                                                        <i class="expanded"><i class="fas fa-minus-circle"></i></i> Digital elevation model <i class="fa fa-info-circle float-right ShortInfo" InfoTitle="Info"></i>
                                                    </a>
                                                    <ul>
                                                        <li id="LayerSrtm" class="collapse scroll-link">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="inlineSrtm1" value="option1">
                                                                <label class="form-check-label" for="inlineSrtm1">SRTM Level 1</label>
                                                            </div>
                                                        </li>
                                                        <li id="LayerSrtm" class="collapse">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox" id="inlineSrtm2" value="option2">
                                                                <label class="form-check-label" for="inlineSrtm2">SRTM Level 2</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="scroll-link" href="#BaseMap1">Other</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#BaseLayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="BaseLayerSections">
                                <i class="fa fa-globe-americas"></i>Base Map Section
                            </a>
                            <div id="BaseLayerSections" class="collapse show" aria-labelledby="headingOne" data-parent="#BaseLayerSections">
                                <div class="card-body p-2">
                                    <div class="input-group input-group-sm">
                                        <select class="custom-select" id="layerBaseType" onchange="ChangeLayers()">
                                            <option value="OSM">OpenStreetMap</option>
                                            <option value="BingAerialWithLabels">Bing Aerial</option>
                                            <option value="BingRoadStatic">Bing Road (static)</option>
                                            <option value="BingRoadDynamic">Bing Road (dynamic)</option>
                                            <option value="HERENormalDay">HERE Normal Day</option>
                                            <option value="HERENormalDayTransit">HERE Normal Day Transit</option>
                                            <option value="HERETerrainDay">HERE Terrain Day</option>
                                            <option value="HEREHybridDay" selected>HERE Hybrid Day</option>
                                            <option value="StamenWatercolor">Stamen Watercolor</option>
                                            <option value="StamenTerrain">Stamen Terrain</option>
                                            <option value="StamenToner">Stamen Toner</option>
                                            <option value="ArcGIS">ArcGIS</option>
                                            <option value="ThunderforestOpenCycleMap">Thunderforest OpenCycleMap</option>
                                            <option value="ThunderforestTransport">Thunderforest Transport</option>
                                            <option value="ThunderforestLandscape">Thunderforest Landscape</option>
                                            <option value="ThunderforestOutdoors">Thunderforest Outdoors</option>
                                            <option value="ThunderforestSpinalMap">Thunderforest Spinal Map</option>
                                            <option value="ThunderforestPioneer">Thunderforest Pioneer</option>
                                            <option value="ThunderforestMobileAtlas">Thunderforest Mobile Atlas</option>
                                            <option value="ThunderforestNeighbourhood">Thunderforest Neighbourhood</option>
                                        </select>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <input type="checkbox" id="layerBaseShow" checked="checked" onchange="ChangeLayers()">
                                            </div>
                                        </div>
                                    </div>
                                    <input id="layerBaseOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <a class="scroll-link" href="#"><i class="fas fa-home"></i> Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body overflow-auto custom-scrollbar-css p-1" style="max-height: 40vh;">
                
            </div>

            <div class="to-top">
                <a class="btn btn-primary btn-customized-3" href="#" role="button">
                    <i class="fas fa-bar-chart"></i> Chart
                </a>
            </div>

            <div class="dark-light-buttons">
                <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
                <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
            </div>
        </nav>
        <!-- End sidebar -->
        <!-- Dark overlay -->
        <div class="overlay"></div>
        <!-- Content -->
        <div class="content">
            <!-- open sidebar menu -->
            <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
                <i class="fas fa-snowflake-o"></i> <span>@SharedLocalizer["Menu"]</span>
            </a>
            <!-- Map content -->
            <div id="map" class="position-fixed col-md-12 col-lg-12 m-0 p-0 bg-light" style="height: 100vh;"></div>
            <!-- Footer -->
        </div>
        <!-- End content -->
    </div>
    <!-- End wrapper -->
</div>
<div id="ndsilegenddialog" title="Легенда" hidden="hidden" style="width: 200px;">
    <img src="~/lib/images/Logo Water G.jpg" style="width: 220px;" />
</div>
<div class="tab-content mt-n2" id="InfoMapTabContent">
    <table id="table1" class="table table-sm table-bordered">
        <thead>
            <tr class="table-primary">
                <td>
                    Дата
                </td>
                <td>
                    Снег
                </td>
            </tr>
        </thead>
    </table>
</div>


@* Layers, Measure, map *@
<script type="text/javascript">
    var geoserver_url = '@ViewBag.GeoServerUrl';
    //geoserver_url = 'localhost:8080/geoserver/';

    var Source_OSM = new ol.source.OSM();
    var Layer_Base = new ol.layer.Tile({
        source: Source_OSM
    });
    Layer_Base.set('name', 'Base');
    Layer_Base.setOpacity(0.80);

    var url_modis = geoserver_url + 'MODIS' + '/wms';
    var Source_modis = new ol.source.TileWMS({
        url: url_modis,
        params: {
            'FORMAT': 'image/png',
            //'VERSION': '1.1.1',
            //tiled: true,
            'LAYERS': 'MODIS:_'
        },
        serverType: 'geoserver'
    });
    var Layer_modis = new ol.layer.Tile({
        source: Source_modis
    });
    Layer_modis.set('name', 'modis');
    Layer_modis.setOpacity(0.80);

    var url_points = geoserver_url + 'MODIS' + '/wms';
    var Source_points = new ol.source.TileWMS({
        url: url_points,
        params: {
            'FORMAT': 'image/png',
            //'VERSION': '1.1.1',
            //tiled: true,
            'LAYERS': 'MODIS:TestSnowExtrPnt'
        },
        serverType: 'geoserver'
    });
    var Layer_points = new ol.layer.Tile({
        source: Source_points
    });
    Layer_points.set('name', 'points');

    var map = new ol.Map({
        target: 'map',
        controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
            new ol.control.ScaleLine()
        ]),
        layers: [
            Layer_Base,
            //Layer_modis,
            Layer_points],
        view: new ol.View({
            center: ol.proj.fromLonLat([66.902, 48.714]),
            zoom: 5,
            //minZoom: 5,
            //extent: [5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296]
        })
    });
</script>

@* DatasetChange, YearChange *@
<script>
    function DatasetChange() {
        $.ajax({
            url: '@Url.Action("GetModisYears")',
            data: {
                ModisLayer: $('#ModisLayer').val()
            },
            type: 'POST',
            success: function (data) {
                $('#year').empty();
                $.each(data.years, function () {
                    $('#year').append($('<option />').val(this).text(this));
                });
                $('#year option:last').attr('selected', 'selected');
                YearChange();
            },
            error: function () {
            }
        })
    }

    Date.prototype.addDays = function (days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }

    function YearChange() {
        $.ajax({
            url: '@Url.Action("GetModisDays")',
            data: {
                ModisLayer: $('#ModisLayer').val(),
                Year: $('#year').val()
            },
            type: 'POST',
            success: function (data) {
                $('#day').empty();
                $.each(data.days, function () {
                    var date = new Date($('#year').val(), 0, 1);
                    date = date.addDays(this - 1);
                    var datestring = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2);
                    $('#day').append($('<option />').val(this).text(datestring + ' (' + this + ')'));
                });
                $('#day option:last').attr('selected', 'selected');
                DayChange();
            },
            error: function () {
            }
        })
    }

    function DayChange() {
        ModisLayerChange();
    }
</script>

@* LegendChange *@
<script>
    function LegendChange() {
        $("#legend").attr("src", "/esnow/img/legend/" + $('#ModisLayer').val() + ".svg");
    }
</script>

@* ModisLayerChange *@
<script>
    function GetModisLayerName() {
        var date = $('#day').val();
        if (date.toString().length == 1) {
            date = '0' + date.toString();
        }
        if (date.toString().length == 2) {
            date = '0' + date.toString();
        }
        date = 'A' + $('#year').val() + date;
        var name = date + '_' + $('#ModisLayer').val();
        return name;
    }

    function ModisLayerChange() {
        var layerName = GetModisLayerName();
        console.log(layerName);
        var Source_modis_new = new ol.source.TileWMS({
            url: url_modis,
            params: {
                'FORMAT': 'image/png',
                "LAYERS": 'MODIS:' + layerName,
            },
            serverType: 'geoserver'
        });
        Layer_modis.setSource(Source_modis_new);
    }
</script>

@* map.on('singleclick') *@
<script>
    var clickX = 0,
        clickY = 0;
    var InfoMapModal;
    $(document).ready(function () {
        InfoMapModal = new jBox('Modal', {
            id: 'modal-info',
            minWidth: 600,
            maxHeight: 500,
            adjustTracker: 'scroll',
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'zoomIn',
            overlay: false,
            onOpen: function () {
                // Add t
                this.setContent($('#InfoMapTabContent'));
                this.setTitle('@SharedLocalizer["Info"]');
            },
        });
    });
    map.on('singleclick', function (evt) {
        clickX = ol.proj.toLonLat(evt.coordinate)[0];
        clickY = ol.proj.toLonLat(evt.coordinate)[1];
        InfoMapModal.open();
        $.ajax({
            url: '@Url.Action("GetSnowData")',
            data: {
                Product: $('#ModisLayer').val(),
                Year: $('#year').val(),
                X: ol.proj.toLonLat(evt.coordinate)[0].toString(),
                Y: ol.proj.toLonLat(evt.coordinate)[1].toString()
            },
            type: 'POST',
            success: function (data) {
                $('#table1').find('tr:gt(0)').remove();
                for (var l = 0; l < data.labels.length; l++) {
                    $('#table1').append($('<tr><td>' + data.labels[l] + '</td><td>' + data.valuelabels[l] + '</td></tr>'));
                }
            },
            error: function () {
            }
        })
    })
</script>

@* Menu *@
<script>
    jQuery(document).ready(function () {
        /*
            Sidebar
        */
        $('.dismiss, .overlay').on('click', function () {
            $('.sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('.open-menu').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('active');
            // close opened sub-menus
            $('.collapse.show').toggleClass('show');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        /* change sidebar style */
        $('a.btn-customized-dark').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').removeClass('light');
        });
        $('a.btn-customized-light').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('light');
        });
    });
</script>

@*tooltips, modal windows*@
<script>
    $(document).ready(function () {
        // Map Title
        new jBox('Modal', {
            id: 'modal-maptitle',
            attach: '#MapTitleBtn',
            width: 260,
            blockScroll: false,
            animation: 'flip',
            closeButton: false,
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 10
            },
            content: '<div class="card-body text-white text-center p-0"><h5 class="card-title">Terra Modis 8-day</h5><p class="card-text mb-1">Maximum snow extent </p><p class="card-text">2020y. 057: 19/02 - 26/02</p></div >',
            overlay: false,
            repositionOnOpen: false
        }).open();
        // Map Legend
        new jBox('Modal', {
            attach: '#LegendBtn',
            id: 'modal-maptitle',
            zIndex: 'auto',
            closeButton: true,
            overlay: false,
            animation: 'slide',
            closeButton: true,
            draggable: true,
            position: {
                x: 'right',
                y: 'bottom'
            },
            offset: {
                x: -10,
                y: -70
            },
            onOpen: function () {
                this.setContent('<div class="p-0"><img id="legend" class="card-img-top" src="/esnow/img/legendESnow/Maximum_Snow_Extent.svg"></div>');
            }
        });
        // Tooltip below to the right
        new jBox('Tooltip', {
            theme: 'TooltipSnow',
            zIndex: 'auto',
            attach: '.ShortInfo',
            content: '<div class="p-0"><p class="card-title" style="width: 8rem;">Aspect is the direction of the maximum rate of change in the z-value from each cell in a raster surface.</p><img id="legend" class="card-img-top" src="/esnow/img/legendESnow/Aspect.JPG"></div>',
            position: {
                x: 'right',
            },
            outside: 'x' // Horizontal Tooltips need to change their outside position
        });

    });
</script>

@* $(document).ready *@
<script>
    $(document).ready(function () {
        DatasetChange();
    });
</script>