@using GeoNodeWeb.Controllers
@{
    ViewData["Title"] = "Графики";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_StylesTabChart")

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
<link href="~/esnow/lib/rangeSlider/ion.rangeSlider.min.css" rel="stylesheet" />
<script src="~/esnow/lib/rangeSlider/ion.rangeSlider.min.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

<style>
    .mapTooltip {
        position: fixed;
        background-color: #fff;
        moz-opacity: 0.70;
        opacity: 0.70;
        filter: alpha(opacity=70);
        border-radius: 10px;
        padding: 10px;
        z-index: 1000;
        max-width: 200px;
        display: none;
        color: #343434;
    }

    .zoomIn, .zoomOut {
        background-color: #fff;
        border: 1px solid #ccc;
        color: #000;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        font-weight: bold;
        left: 10px;
        -webkit-user-select: none;
        // For Webkit -khtml-user-select: none;
        -moz-user-select: none;
        // For Mozilla -o-user-select: none;
        user-select: none;
        // Default
    }

    .zoomOut {
        top: 30px;
    }

    .map {
        position: relative;
    }
</style>
<input id="id" value="@ViewBag.Id" type="hidden" />
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border mt-4"> Выбрать ВХБ или ВХУ</legend>
            <form>
                <div class="form-group">
                    <label for="wmb">ВХБ:</label>
                    <select class="form-control" id="wmb" onchange="ChangeWMB()"></select>
                </div>
                <div class="form-group">
                    <label for="wma">ВХУ:</label>
                    <select class="form-control" id="wma" onchange="NavigateToWMA()"></select>
                </div>
            </form>
            <input type="button" class="btn btn-primary btn-block" value="Обновить" onclick="RefreshWMS()" />
        </fieldset>        
        <div class="card-body">

        </div>

    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin-top: 50px;">
        <h4 class="py-4 text-center bg-light">Section title</h4>
        <div class="row d-flex">
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div id="map1"></div>
                    <div class="card-img-overlay">
                        <div class="d-flex justify-content-between align-items-center">
                            <select class="form-control form-control-sm alert-warning w-50 ml-4" id="SubParameter1" onchange="ChangeLayerClimate1()">
                                <option value="tasmax_pd_avg">Максимальная температура</option>
                                <option value="tasmax_dlt_avg">Отклонения максимальной температуры от значений базового периода</option>
                                <option value="tas_pd_avg">Средняя температура</option>
                                <option value="tas_dlt_avg">Отклонения средней температуры</option>
                                <option value="tasmin_pd_avg">Минимальная температура</option>
                                <option value="tasmin_dlt_avg">Отклонения минимальной температуры</option>
                                <option value="pr_pd_avg">Осадки</option>
                                <option value="pr_dlt_avg_mm">Отклонения средней суммы осадков от значений базового периода в мм</option>
                                <option value="et_pd_avg">Эвапотранспирация</option>
                                <option value="et_dlt_avg">Отклонения эвапотранспирации от значений базового периода</option>
                            </select>
                            <h5 class="font-weight-bold alert-warning" id="mapinfo1">1951 - 1960</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="RCP1">RCP</label>
                                    <select class="form-control form-control-sm" id="RCP1" onchange="ChangeLayerClimate1()">
                                        <option value="rcp45">rcp 4.5</option>
                                        <option value="rcp85">rcp 8.5</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Period1">Период</label>
                                    <select class="form-control form-control-sm" id="Period1" onchange="ChangeLayerClimate1()">
                                        <option value="y">Год</option>
                                        @*<option value="s">Сезон</option>*@
                                        <optgroup label="Сезон">
                                            <option value="4">Зима</option>
                                            <option value="1">Весна</option>
                                            <option value="2">Лето</option>
                                            <option value="3">Осень</option>
                                        </optgroup>
                                        @*<option value="m">Месяц</option>*@
                                        <optgroup label="Месяц">
                                            <option value="01">Январь</option>
                                            <option value="02">Февраль</option>
                                            <option value="03">Март</option>
                                            <option value="04">Апрель</option>
                                            <option value="05">Май</option>
                                            <option value="06">Июнь</option>
                                            <option value="07">Июль</option>
                                            <option value="08">Август</option>
                                            <option value="09">Сентябрь</option>
                                            <option value="10">Октябрь</option>
                                            <option value="11">Ноябрь</option>
                                            <option value="12">Декабрь</option>
                                        </optgroup>
                                    </select>
                                </div>
                                @*<div class="col-md-4 mb-3 seasons1">
                                        <label for="Season1">Сезон</label>
                                        <select class="form-control form-control-sm" id="Season1" onchange="ChangeLayerClimate1()">
                                            <option value="4">Зима</option>
                                            <option value="1">Весна</option>
                                            <option value="2">Лето</option>
                                            <option value="3">Осень</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3 months1">
                                        <label for="Month1">Месяц</label>
                                        <select class="form-control form-control-sm" id="Month1" onchange="ChangeLayerClimate1()">
                                            <option value="01">Январь</option>
                                            <option value="02">Февраль</option>
                                            <option value="03">Март</option>
                                            <option value="04">Апрель</option>
                                            <option value="05">Май</option>
                                            <option value="06">Июнь</option>
                                            <option value="07">Июль</option>
                                            <option value="08">Август</option>
                                            <option value="09">Сентябрь</option>
                                            <option value="10">Октябрь</option>
                                            <option value="11">Ноябрь</option>
                                            <option value="12">Декабрь</option>
                                        </select>
                                    </div>*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <div id="map2"></div>
                    <div class="card-img-overlay">
                        <div class="d-flex justify-content-between align-items-center">
                            <select class="form-control form-control-sm alert-warning w-50 ml-4" id="SubParameter2" onchange="ChangeLayerClimate2()">
                                <option value="tasmax_pd_avg">Максимальная температура</option>
                                <option value="tasmax_dlt_avg">Отклонения максимальной температуры от значений базового периода</option>
                                <option value="tas_pd_avg">Средняя температура</option>
                                <option value="tas_dlt_avg">Отклонения средней температуры</option>
                                <option value="tasmin_pd_avg">Минимальная температура</option>
                                <option value="tasmin_dlt_avg">Отклонения минимальной температуры</option>
                                <option value="pr_pd_avg">Осадки</option>
                                <option value="pr_dlt_avg_mm">Отклонения средней суммы осадков от значений базового периода в мм</option>
                                <option value="et_pd_avg">Эвапотранспирация</option>
                                <option value="et_dlt_avg">Отклонения эвапотранспирации от значений базового периода</option>
                            </select>
                            <h5 class="alert-warning font-weight-bold" id="mapinfo2">1951 - 1960</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="RCP1">RCP</label>
                                    <select class="form-control form-control-sm" id="RCP2" onchange="ChangeLayerClimate2()">
                                        <option value="rcp45">rcp 4.5</option>
                                        <option value="rcp85">rcp 8.5</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Period1">Период</label>
                                    <select class="form-control form-control-sm" id="Period2" onchange="ChangeLayerClimate2()">
                                        <option value="y">Год</option>
                                        @*<option value="s">Сезон</option>*@
                                        <optgroup label="Сезон">
                                            <option value="4">Зима</option>
                                            <option value="1">Весна</option>
                                            <option value="2">Лето</option>
                                            <option value="3">Осень</option>
                                        </optgroup>
                                        @*<option value="m">Месяц</option>*@
                                        <optgroup label="Месяц">
                                            <option value="01">Январь</option>
                                            <option value="02">Февраль</option>
                                            <option value="03">Март</option>
                                            <option value="04">Апрель</option>
                                            <option value="05">Май</option>
                                            <option value="06">Июнь</option>
                                            <option value="07">Июль</option>
                                            <option value="08">Август</option>
                                            <option value="09">Сентябрь</option>
                                            <option value="10">Октябрь</option>
                                            <option value="11">Ноябрь</option>
                                            <option value="12">Декабрь</option>
                                        </optgroup>
                                    </select>
                                </div>
                                @*<div class="col-md-4 mb-3 seasons2">
                                        <label for="Season1">Сезон</label>
                                        <select class="form-control form-control-sm" id="Season2" onchange="ChangeLayerClimate2()">
                                            <option value="4">Зима</option>
                                            <option value="1">Весна</option>
                                            <option value="2">Лето</option>
                                            <option value="3">Осень</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3 months2">
                                        <label for="Month1">Месяц</label>
                                        <select class="form-control form-control-sm" id="Month2" onchange="ChangeLayerClimate2()">
                                            <option value="01">Январь</option>
                                            <option value="02">Февраль</option>
                                            <option value="03">Март</option>
                                            <option value="04">Апрель</option>
                                            <option value="05">Май</option>
                                            <option value="06">Июнь</option>
                                            <option value="07">Июль</option>
                                            <option value="08">Август</option>
                                            <option value="09">Сентябрь</option>
                                            <option value="10">Октябрь</option>
                                            <option value="11">Ноябрь</option>
                                            <option value="12">Декабрь</option>
                                        </select>
                                    </div>*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-auto">
                <div class="btn-group mt-2" role="group" aria-label="example">
                    <select class="form-control form-control-lg" id="Decade" onchange="ChangeLayerClimate1(); ChangeLayerClimate2()">
                        <option value="10">10 лет</option>
                        <option value="20">20 лет</option>
                        <option value="30">30 лет</option>
                    </select>
                    <button type="button" class="btn btn-primary"><i class="fa fa-step-backward"></i></button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-play-circle fa-2x"></i></button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-step-forward"></i></button>
                </div>
            </div>
            <div class="col" style="cursor: pointer;">
                <input id="years10" class="js-range-slider" name="my_range" value="" onchange="ChangeLayerClimate1(); ChangeLayerClimate2();" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row d-flex">
            <div class="col-auto">
                <div class="card shadow-sm mt-3" id="section0">                                                            
                    <div class="card-body">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                            <h1 class="h4">Динамика климатического параметра по сезонам</h1>
                            <div class="btn-toolbar">
                                <div class="btn-group mr-2">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Period">
                                        <button type="button" class="btn-default" onclick="Chart1Show()">Год</button>
                                        <button type="button" class="btn-default" onclick="Chart2Show()">Сезон</button>
                                        <button type="button" class="btn-default" onclick="Chart3Show()">Месяц</button>
                                    </div>
                                    <div class="btn-group btn-group-sm ml-2" role="group" aria-label="Min-max">
                                        <button type="button" class="btn-danger" onclick="ShowMax()">Максимум</button>
                                        <button type="button" class="btn-primary" onclick="ShowMin()">Минимум</button>
                                        <button type="button" class="btn-info" onclick="ShowMedian()">Медиана</button>
                                    </div>
                                    <div class="btn-group btn-group-sm ml-2" role="group" aria-label="Chart type">
                                        <button id="changeToLine" onclick="Chart1()"><i class="fa fa-area-chart"></i></button>
                                        <button id="changeToBar" onclick="Chart1()"><i class="fa fa-bar-chart"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="chartbody1">
                            <div class="col-md-3 order-md-2 mt-2">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"> Configure Plot 1 </legend>                                    
                                    <form>
                                        <div class="form-group">
                                            <label for="chart1SubParameter">Климатический параметр:</label>
                                            <select class="form-control form-control-sm" id="chart1SubParameter">
                                                <option value="tasmax_pd_avg">Максимальная температура</option>
                                                <option value="tas_pd_avg">Средняя температура</option>
                                                <option value="tasmin_pd_avg">Минимальная температура</option>
                                                <option value="pr_pd_avg">Осадки</option>
                                                <option value="pr_dlt_avg_mm">Отклонения средней суммы осадков от значений базового периода в мм</option>
                                                <option value="et_pd_avg">Эвапотранспирация</option>
                                                <option value="et_dlt_avg">Отклонения эвапотранспирации от значений базового периода</option>
                                                <option value="tasmax_dlt_avg">Отклонения максимальной температуры от значений базового периода</option>
                                                <option value="tas_dlt_avg">Отклонения средней температуры</option>
                                                <option value="tasmin_dlt_avg">Отклонения минимальной температуры</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart1Decade">Периодичность:</label>
                                            <select class="form-control form-control-sm" id="chart1Decade" onchange="chart1UpdateDates()">
                                                <option value="10">10 лет</option>
                                                <option value="20">20 лет</option>
                                                <option value="30">30 лет</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart1Decade">RCP:</label>
                                            <select class="form-control form-control-sm" id="chart1RCP">
                                                <option value="rcp45">rcp 4.5</option>
                                                <option value="rcp85">rcp 8.5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1951" name="chart1Dates" value="1951" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1951">1951</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1961" name="chart1Dates" value="1961" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1961">1961</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1971" name="chart1Dates" value="1971" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1971">1971</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1981" name="chart1Dates" value="1981" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1981">1981</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1991" name="chart1Dates" value="1991" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1991">1991</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2001" name="chart1Dates" value="2001" disabled>
                                                <label class="form-check-label" for="chart1inlineCheckbox2001">2001</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2011" name="chart1Dates" value="2011" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2011">2011</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2021" name="chart1Dates" value="2021" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2021">2021</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2031" name="chart1Dates" value="2031" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2031">2031</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2041" name="chart1Dates" value="2041" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2041">2041</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2051" name="chart1Dates" value="2051" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2051">2051</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2061" name="chart1Dates" value="2061" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2061">2061</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2071" name="chart1Dates" value="2071" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2071">2071</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2081" name="chart1Dates" value="2081" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2081">2081</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2091" name="chart1Dates" value="2091" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2091">2091</label>
                                            </div>
                                        </div>
                                    </form>
                                    <input type="button" class="btn btn-outline-primary btn-sm" value="Обновить" onclick="Chart1()" />
                                </fieldset>
                            </div>
                            <div class="col-md-9">
                                <div id="chartContainer">
                                    <canvas class="my-1 w-100 chartjs-render-monitor" id="chart1Canvas" width="900" height="380"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="chartbody2">
                            <div class="col-md-3 order-md-2 mt-2">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"> Configure Plot 2 </legend>
                                    <div class="form-group">
                                        <label for="chartType" class="mr-2">Тип диаграммы:</label>
                                        <select name="chartType" id="chartType" onchange="updateChartType()">
                                            <option value="line">Линии</option>
                                            <option value="bar">Столбцы</option>
                                            <option value="radar">Радар</option>
                                        </select>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <label for="chart2SubParameter">Климатический параметр:</label>
                                            <select class="form-control form-control-sm" id="chart2SubParameter">
                                                <option value="tasmax_pd_avg">Максимальная температура</option>
                                                <option value="tas_pd_avg">Средняя температура</option>
                                                <option value="tasmin_pd_avg">Минимальная температура</option>
                                                <option value="pr_pd_avg">Осадки</option>
                                                <option value="pr_dlt_avg_mm">Отклонения средней суммы осадков от значений базового периода в мм</option>
                                                <option value="et_pd_avg">Эвапотранспирация</option>
                                                <option value="et_dlt_avg">Отклонения эвапотранспирации от значений базового периода</option>
                                                <option value="tasmax_dlt_avg">Отклонения максимальной температуры от значений базового периода</option>
                                                <option value="tas_dlt_avg">Отклонения средней температуры</option>
                                                <option value="tasmin_dlt_avg">Отклонения минимальной температуры</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart2Decade">Периодичность:</label>
                                            <select class="form-control form-control-sm" id="chart2Decade" onchange="chart2UpdateDates()">
                                                <option value="10">10 лет</option>
                                                <option value="20">20 лет</option>
                                                <option value="30">30 лет</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart2Decade">RCP:</label>
                                            <select class="form-control form-control-sm" id="chart2RCP">
                                                <option value="rcp45">rcp 4.5</option>
                                                <option value="rcp85">rcp 8.5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1951" name="chart2Dates" value="1951" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1951">1951</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1961" name="chart2Dates" value="1961" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1961">1961</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1971" name="chart2Dates" value="1971" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1971">1971</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1981" name="chart2Dates" value="1981" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1981">1981</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1991" name="chart2Dates" value="1991" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1991">1991</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2001" name="chart2Dates" value="2001" disabled>
                                                <label class="form-check-label" for="chart2inlineCheckbox2001">2001</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2011" name="chart2Dates" value="2011" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2011">2011</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2021" name="chart2Dates" value="2021" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2021">2021</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2031" name="chart2Dates" value="2031" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2031">2031</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2041" name="chart2Dates" value="2041" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2041">2041</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2051" name="chart2Dates" value="2051" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2051">2051</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2061" name="chart2Dates" value="2061" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2061">2061</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2071" name="chart2Dates" value="2071" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2071">2071</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2081" name="chart2Dates" value="2081" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2081">2081</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2091" name="chart2Dates" value="2091" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2091">2091</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2Season1" name="chart2Seasons" value="1" checked>
                                                <label class="form-check-label" for="chart2Season1">Весна</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2Season2" name="chart2Seasons" value="2">
                                                <label class="form-check-label" for="chart2Season2">Лето</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2Season3" name="chart2Seasons" value="3">
                                                <label class="form-check-label" for="chart2Season3">Осень</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2Season4" name="chart2Seasons" value="4">
                                                <label class="form-check-label" for="chart2Season4">Зима</label>
                                            </div>
                                        </div>
                                    </form>
                                    <input type="button" class="btn btn-outline-primary btn-sm" value="Обновить" onclick="Chart2()" />
                                </fieldset>
                            </div>
                            <div class="col-md-9">                                
                                <canvas class="my-1 w-100 chartjs-render-monitor" id="chart2Canvas" width="900" height="380"></canvas>
                            </div>
                        </div>
                        <div class="row mb-3" id="chartbody3">
                            <div class="col-md-3 order-md-2 mt-2">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"> Configure Plot 3 </legend>
                                    <form>
                                        <div class="form-group">
                                            <label for="chart3SubParameter">Климатический параметр:</label>
                                            <select class="form-control form-control-sm" id="chart3SubParameter">
                                                <option value="tasmax_pd_avg">Максимальная температура</option>
                                                <option value="tas_pd_avg">Средняя температура</option>
                                                <option value="tasmin_pd_avg">Минимальная температура</option>
                                                <option value="pr_pd_avg">Осадки</option>
                                                <option value="pr_dlt_avg_mm">Отклонения средней суммы осадков от значений базового периода в мм</option>
                                                <option value="et_pd_avg">Эвапотранспирация</option>
                                                <option value="et_dlt_avg">Отклонения эвапотранспирации от значений базового периода</option>
                                                <option value="tasmax_dlt_avg">Отклонения максимальной температуры от значений базового периода</option>
                                                <option value="tas_dlt_avg">Отклонения средней температуры</option>
                                                <option value="tasmin_dlt_avg">Отклонения минимальной температуры</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart3Decade">Периодичность:</label>
                                            <select class="form-control form-control-sm" id="chart3Decade" onchange="chart3UpdateDates()">
                                                <option value="10">10 лет</option>
                                                <option value="20">20 лет</option>
                                                <option value="30">30 лет</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart3Decade">RCP:</label>
                                            <select class="form-control form-control-sm" id="chart3RCP">
                                                <option value="rcp45">rcp 4.5</option>
                                                <option value="rcp85">rcp 8.5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1951" name="chart3Dates" value="1951" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1951">1951</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1961" name="chart3Dates" value="1961" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1961">1961</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1971" name="chart3Dates" value="1971" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1971">1971</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1981" name="chart3Dates" value="1981" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1981">1981</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1991" name="chart3Dates" value="1991" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1991">1991</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2001" name="chart3Dates" value="2001" disabled>
                                                <label class="form-check-label" for="chart3inlineCheckbox2001">2001</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2011" name="chart3Dates" value="2011" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2011">2011</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2021" name="chart3Dates" value="2021" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2021">2021</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2031" name="chart3Dates" value="2031" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2031">2031</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2041" name="chart3Dates" value="2041" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2041">2041</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2051" name="chart3Dates" value="2051" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2051">2051</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2061" name="chart3Dates" value="2061" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2061">2061</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2071" name="chart3Dates" value="2071" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2071">2071</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2081" name="chart3Dates" value="2081" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2081">2081</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2091" name="chart3Dates" value="2091" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2091">2091</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month1" name="chart3Months" value="1" checked>
                                                <label class="form-check-label" for="chart3Month1">Январь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month2" name="chart3Months" value="2">
                                                <label class="form-check-label" for="chart3Month2">Февраль</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month3" name="chart3Months" value="3">
                                                <label class="form-check-label" for="chart3Month3">Март</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month4" name="chart3Months" value="4">
                                                <label class="form-check-label" for="chart3Month4">Апрель</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month5" name="chart3Months" value="5">
                                                <label class="form-check-label" for="chart3Month5">Май</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month6" name="chart3Months" value="6">
                                                <label class="form-check-label" for="chart3Month6">Июнь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month7" name="chart3Months" value="7">
                                                <label class="form-check-label" for="chart3Month7">Июль</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month8" name="chart3Months" value="8">
                                                <label class="form-check-label" for="chart3Month8">Август</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month9" name="chart3Months" value="9">
                                                <label class="form-check-label" for="chart3Month9">Сентябрь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month10" name="chart3Months" value="10">
                                                <label class="form-check-label" for="chart3Month10">Октябрь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month11" name="chart3Months" value="11">
                                                <label class="form-check-label" for="chart3Month11">Ноябрь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month12" name="chart3Months" value="12">
                                                <label class="form-check-label" for="chart3Month12">Декабрь</label>
                                            </div>
                                        </div>
                                    </form>
                                    <input type="button" class="btn btn-outline-primary btn-sm" value="Обновить" onclick="Chart3()" />
                                </fieldset>
                            </div>
                            <div class="col-md-9">
                                <canvas class="my-4 w-100 chartjs-render-monitor" id="chart3Canvas" width="900" height="380"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@* Chart1, chart1UpdateDates *@
<script>
    var chart1 = null,
        chart2 = null,
        chart3 = null;

    function chart1UpdateDates() {
        $('input:checkbox[name="chart1Dates"][value="1991"]').removeAttr('disabled');
        $('input:checkbox[name="chart1Dates"][value="1981"]').removeAttr('disabled');
        if ($('#chart1Decade').val() == 20) {
            $('input:checkbox[name="chart1Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart1Dates"][value="1991"]').prop("disabled", true);
        }
        if ($('#chart1Decade').val() == 30) {
            $('input:checkbox[name="chart1Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart1Dates"][value="1991"]').prop("disabled", true);
            $('input:checkbox[name="chart1Dates"][value="1981"]').prop('checked', false);
            $('input:checkbox[name="chart1Dates"][value="1981"]').prop("disabled", true);
        }
    }

    function chart2UpdateDates() {
        $('input:checkbox[name="chart2Dates"][value="1991"]').removeAttr('disabled');
        $('input:checkbox[name="chart2Dates"][value="1981"]').removeAttr('disabled');
        if ($('#chart2Decade').val() == 20) {
            $('input:checkbox[name="chart2Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart2Dates"][value="1991"]').prop("disabled", true);
        }
        if ($('#chart2Decade').val() == 30) {
            $('input:checkbox[name="chart2Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart2Dates"][value="1991"]').prop("disabled", true);
            $('input:checkbox[name="chart2Dates"][value="1981"]').prop('checked', false);
            $('input:checkbox[name="chart2Dates"][value="1981"]').prop("disabled", true);
        }
    }

    function chart3UpdateDates() {
        $('input:checkbox[name="chart3Dates"][value="1991"]').removeAttr('disabled');
        $('input:checkbox[name="chart3Dates"][value="1981"]').removeAttr('disabled');
        if ($('#chart3Decade').val() == 20) {
            $('input:checkbox[name="chart3Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart3Dates"][value="1991"]').prop("disabled", true);
        }
        if ($('#chart3Decade').val() == 30) {
            $('input:checkbox[name="chart3Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart3Dates"][value="1991"]').prop("disabled", true);
            $('input:checkbox[name="chart3Dates"][value="1981"]').prop('checked', false);
            $('input:checkbox[name="chart3Dates"][value="1981"]').prop("disabled", true);
        }
    }

    function Chart1(objectid) {
        var Id = objectid;
        if (objectid == null) {
            Id = @ViewBag.Id;
        }
        var chart1Dates = [];
        $("input:checkbox[name=chart1Dates]:checked").each(function(){
            chart1Dates.push($(this).val());
        });
        $.ajax({
            url: '@Url.Action("GetChart1")',
            data: {
                Id: Id,
                SubParameter: $('#chart1SubParameter').val(),
                Decade: $('#chart1Decade').val(),
                RCP: $('#chart1RCP').val(),
                Dates: chart1Dates
            },
            type: 'POST',
            success: function (data) {
                for (var i = 0; i < data.max.length; ++i) {
                    data.max[i] = parseFloat(data.max[i]).toFixed(2);
                }
                for (var i = 0; i < data.min.length; ++i) {
                    data.min[i] = parseFloat(data.min[i]).toFixed(2);
                }
                for (var i = 0; i < data.median.length; ++i) {
                    data.median[i] = parseFloat(data.median[i]).toFixed(2);
                }
                var chart1Data = {
                    labels: data.years,
                    datasets: [{
                        label: 'Максимум',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth: 1,
                        data: data.max
                    }, {
                        label: 'Минимум',
                        backgroundColor: 'rgba(153, 102, 255, 0.5)',
                        borderColor: 'rgba(153, 102, 255,1)',
                        borderWidth: 1,
                        data: data.min
                    }, {
                        label: 'Медиана',
                        backgroundColor: "rgba(75, 192, 192, 0.5)",
                        borderColor: "rgba(75, 192, 192,1)",
                        borderWidth: 1,
                        data: data.median
                    }]
                };

                var ctx1 = document.getElementById('chart1Canvas').getContext('2d');
                if (chart1 != null) {
                    chart1.destroy();
                }
                chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: chart1Data,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'right',
                        },
                        title: {
                            display: true,
                            fontSize: 20,
                            fontColor: '#000',
                            text: ['ВХБ - ' + data.wmbname + ' (ВХУ - ' + data.wmacode + ')', $("#chart1SubParameter option:selected ").text() +' ('+ $("#chart1Decade option:selected").text()+'/'+ $("#chart1RCP option:selected").text()+')']
                        },
                        tooltips: {
						    mode: 'index',
						    intersect: false
					    }
                    }
                });
                document.getElementById('changeToLine').onclick = function () {
                    chart1.destroy();
                    chart1 = new Chart(ctx1, {
                        type: 'line',
                        data: chart1Data,
                        options: {
                        responsive: true,
                        legend: {
                            position: 'right',
                        },
                        title: {
                            display: true,
                            fontSize: 20,
                            fontColor: '#000',
                            text: 'ВХБ - ' + data.wmbname + ' (ВХУ - ' + data.wmacode + ')'
                        },
                        tooltips: {
						    mode: 'index',
						    intersect: false
					    }
                    }
                    });
                };
            },
            error: function () {
                console.log('Error 1');
            }
        });
    };

    function Chart2(objectid) {
        var Id = objectid;
        if (objectid == null) {
            Id = @ViewBag.Id;
        }
        var seasonNames = ['весна', 'лето', 'осень', 'зима'],
            seasonColors = ['rgba(0, 128, 0, 0.7)', 'rgba(230, 0, 0, 0.7)', 'rgba(219, 205, 0, 0.7)', 'rgba(34, 26, 194, 0.7)'],
            seasonMaxColors = ['rgba(0, 128, 0, 0.7)', 'rgba(230, 0, 0, 0.7)', 'rgba(219, 205, 0, 0.7)', 'rgba(34, 26, 194, 0.7)'],
            seasonMinColors = ['rgba(102, 203, 102, 0.4)', 'rgba(255, 102, 102, 0.4)', 'rgba(255, 255, 113, 0.4)', 'rgba(161, 153, 255, 0.4)'],
            seasonMedianColors = ['rgba(51, 179, 51, 0.6)', 'rgba(255, 51, 51, 0.6)', 'rgba(255, 255, 51, 0.6)', 'rgba(59, 51, 219, 0.6)'];
        var chart2Dates = [];
        $("input:checkbox[name=chart2Dates]:checked").each(function () {
            chart2Dates.push(parseInt($(this).val()));
        });
        var chart2Seasons = [];
        $("input:checkbox[name=chart2Seasons]:checked").each(function(){
            chart2Seasons.push(parseInt($(this).val()));
        });
        $.ajax({
            url: '@Url.Action("GetChart2")',
            data: {
                Id: Id,
                SubParameter: $('#chart2SubParameter').val(),
                Decade: $('#chart2Decade').val(),
                RCP: $('#chart2RCP').val(),
                Dates: chart2Dates,
                Seasons: chart2Seasons
            },
            type: 'POST',
            success: function (data) {
                // 0 - spring
                for (var i = 0; i < data.max.length; ++i) {
                    for (var j = 0; j < data.max[i].length; ++j) {
                        data.max[i][j] = parseFloat(data.max[i][j]).toFixed(2);
                    }
                }
                for (var i = 0; i < data.min.length; ++i) {
                    for (var j = 0; j < data.min[i].length; ++j) {
                        data.min[i][j] = parseFloat(data.min[i][j]).toFixed(2);
                    }
                }
                for (var i = 0; i < data.median.length; ++i) {
                    for (var j = 0; j < data.median[i].length; ++j) {
                        data.median[i][j] = parseFloat(data.median[i][j]).toFixed(2);
                    }
                }
                var chart2Data = {
                    labels: data.years,
                    datasets: []
                };
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart2Seasons.includes(i + 1)) {
                        chart2Data.datasets.push({
                            label: 'Максимум (' + seasonNames[i] + ')',
                            backgroundColor: seasonMaxColors[i],
                            borderColor: 'rgba(3, 0, 51, 0.7)',
                            borderWidth: 1,
                            stack: 'max',
                            data: data.max[i]
                        });
                    }
                }
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart2Seasons.includes(i + 1)) {
                        chart2Data.datasets.push({
                            label: 'Минимум (' + seasonNames[i] + ')',
                            backgroundColor: seasonMinColors[i],
                            borderColor: 'rgba(3, 0, 51, 0.7)',
                            borderWidth: 1,
                            stack: 'min',
                            data: data.min[i]
                        });
                    }
                }
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart2Seasons.includes(i + 1)) {
                        chart2Data.datasets.push({
                            label: 'Медиана (' + seasonNames[i] + ')',
                            backgroundColor: seasonMedianColors[i],
                            borderColor: 'rgba(3, 0, 51, 0.7)',
                            borderWidth: 1,
                            stack: 'median',
                            data: data.median[i]
                        });
                    }
                }
                var ctx2 = document.getElementById('chart2Canvas').getContext('2d');
                var type = document.getElementById("chartType").value;
                if (chart2 != null) {
                    chart2.destroy();
                }
                chart2 = new Chart(ctx2, {
                    type: type,
                    data: chart2Data,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'right',
                        },
                        title: {
                            display: true,
                            fontSize: 20,
                            fontColor: '#000',
                            text: 'ВХБ - ' + data.wmbname + ' (ВХУ - ' + data.wmacode + ')'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        }
                    }
                });

            },
            error: function () {
            }
        });
    };

    function Chart3(objectid) {
        var Id = objectid;
        if (objectid == null) {
            Id = @ViewBag.Id;
        }
        var monthNames = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'],
            monthColors =[
                'rgba(255, 99, 132, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(150, 153, 75, 0.5)',
                'rgba(205, 130, 20, 0.5)',
                'rgba(63, 70, 250, 0.5)',
                'rgba(87, 50, 200, 0.5)',
                'rgba(169, 190, 75, 0.5)',
                'rgba(175, 240, 20, 0.5)',
                'rgba(25, 250, 150, 0.5)',
                'rgba(200, 20, 75, 0.5)',
                'rgba(175, 150, 100, 0.5)'],
            monthMaxColors =[
                'rgba(0, 112, 255, 0.5)',
                'rgba(0, 197, 255, 0.5)',
                'rgba(0, 255, 197, 0.5)',
                'rgba(85, 255, 0, 0.5)',
                'rgba(170, 255, 0, 0.5)',
                'rgba(255, 255, 0, 0.5)',
                'rgba(255, 170, 0, 0.5)',
                'rgba(255, 85, 0, 0.5)',
                'rgba(255, 0, 0, 0.5)',
                'rgba(168, 0, 0, 0.5)',
                'rgba(255, 0, 197, 0.5)',
                'rgba(197, 0, 255, 0.5)'],
            monthMinColors =[
                'rgba(191, 255, 255, 0.5)',
                'rgba(150, 255, 255, 0.5)',
                'rgba(115, 255, 255, 0.5)',
                'rgba(255, 255, 191, 0.5)',
                'rgba(255, 255, 153, 0.5)',
                'rgba(255, 255, 229, 0.5)',
                'rgba(255, 255, 110, 0.5)',
                'rgba(255, 255, 204, 0.5)',
                'rgba(255, 229, 229, 0.5)',
                'rgba(255, 204, 211, 0.5)',
                'rgba(255, 204, 255, 0.5)',
                'rgba(255, 191, 255, 0.5)'],
            monthMedianColors =[
                'rgba(77, 189, 255, 0.5)',
                'rgba(102, 214, 255, 0.5)',
                'rgba(85, 255, 235, 0.5)',
                'rgba(162, 255, 77, 0.5)',
                'rgba(208, 255, 38, 0.5)',
                'rgba(255, 255, 115, 0.5)',
                'rgba(255, 208, 38, 0.5)',
                'rgba(255, 162, 77, 0.5)',
                'rgba(255, 77, 77, 0.5)',
                'rgba(245, 51, 58, 0.5)',
                'rgba(255, 102, 255, 0.5)',
                'rgba(255, 77, 255, 0.7)'];
        var chart3Dates = [];
        $("input:checkbox[name=chart3Dates]:checked").each(function () {
            chart3Dates.push(parseInt($(this).val()));
        });
        var chart3Months = [];
        $("input:checkbox[name=chart3Months]:checked").each(function(){
            chart3Months.push(parseInt($(this).val()));
        });
        $.ajax({
            url: '@Url.Action("GetChart3")',
            data: {
                Id: Id,
                SubParameter: $('#chart3SubParameter').val(),
                Decade: $('#chart3Decade').val(),
                RCP: $('#chart3RCP').val(),
                Dates: chart3Dates,
                Months: chart3Months
            },
            type: 'POST',
            success: function (data) {
                for (var i = 0; i < data.max.length; ++i) {
                    for (var j = 0; j < data.max[i].length; ++j) {
                        data.max[i][j] = parseFloat(data.max[i][j]).toFixed(2);
                    }
                }
                for (var i = 0; i < data.min.length; ++i) {
                    for (var j = 0; j < data.min[i].length; ++j) {
                        data.min[i][j] = parseFloat(data.min[i][j]).toFixed(2);
                    }
                }
                for (var i = 0; i < data.median.length; ++i) {
                    for (var j = 0; j < data.median[i].length; ++j) {
                        data.median[i][j] = parseFloat(data.median[i][j]).toFixed(2);
                    }
                }
                var chart3Data = {
                    labels: data.years,
                    datasets: []
                };
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart3Months.includes(i + 1)) {
                        chart3Data.datasets.push({
                            label: 'Максимум (' + monthNames[i] + ')',
                            backgroundColor: monthMaxColors[i],
                            borderColor: 'rgba(8, 0, 97, 1)',
                            borderWidth: 1,
                            stack: 'max',
                            data: data.max[i]
                        });
                    }
                }
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart3Months.includes(i + 1)) {
                        chart3Data.datasets.push({
                            label: 'Минимум (' + monthNames[i] + ')',
                            backgroundColor: monthMinColors[i],
                            borderColor: 'rgba(8, 0, 97, 1)',
                            borderWidth: 1,
                            stack: 'min',
                            data: data.min[i]
                        });
                    }
                }
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart3Months.includes(i + 1)) {
                        chart3Data.datasets.push({
                            label: 'Медиана (' + monthNames[i] + ')',
                            backgroundColor: monthMedianColors[i],
                            borderColor: 'rgba(8, 0, 97, 1)',
                            borderWidth: 1,
                            stack: 'median',
                            data: data.median[i]
                        });
                    }
                }
                var ctx2 = document.getElementById('chart3Canvas').getContext('2d');
                if (chart3 != null) {
                    chart3.destroy();
                }
                chart3 = new Chart(ctx2, {
                    type: 'bar',
                    data: chart3Data,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'right',
                        },
                        title: {
                            display: true,
                            fontSize: 20,
                            fontColor: '#000',
                            text: 'ВХБ - ' + data.wmbname + ' (ВХУ - ' + data.wmacode + ')'
                        },
                        tooltips: {
						    mode: 'index',
						    intersect: false
					    }
                    }
                });
            },
            error: function () {
            }
        });
    };
    //add event listener to button
    function saveAsPDF() {
        html2canvas(document.getElementById("chartContainer"), {
            onrendered: function (canvas) {
                // get size of report page
                var reportPageHeight = $('#chart1Canvas').innerHeight();
                var reportPageWidth = $('#chart1Canvas').innerWidth();
                var img = canvas.toDataURL(); //image data of canvas
                var doc = new jsPDF('a4', 'pt', [reportPageWidth, reportPageHeight]);
                doc.addImage(img, 10, 10);
                doc.save('test.pdf');
            }
        });
    }
</script>

@* wms *@
<script>
    var wms = new Array();
    @{
        List<wm> wms = ViewBag.wms;
        foreach(wm wm_ in wms)
        {
            @:var wms_new = {};
            @:wms_new["objectid"] = '@Html.Raw(wm_.objectid)';
            @:wms_new["codewmb"] = '@Html.Raw(wm_.codewmb)';
            @:wms_new["namewmb_ru"] = '@Html.Raw(wm_.namewmb_ru)';
            @:wms_new["codewma"] = '@Html.Raw(wm_.codewma)';
            @:wms.push(wms_new);
        }
    }
    $.each(wms, function () {
        if (this.objectid == @ViewBag.Id) {
            $("#wmb").append($("<option selected />").val(this.codewmb).text(this.namewmb_ru));
        }
        else if ($("#wmb option[value='" + this.codewmb + "']").length == 0) {
            if (this.namewmb_ru.length > 0) {
                $("#wmb").append($("<option />").val(this.codewmb).text(this.namewmb_ru));
            }
        }
    });

    $.each(wms, function () {
        if (this.objectid == @ViewBag.Id) {
            $("#wma").append($("<option selected />").val(this.objectid).text(this.codewma));
        }
        if ($("#wma option[value='" + this.codewma + "']").length == 0) {
            if (this.codewma.length > 0) {
                if (this.codewmb == $('#wmb').val()) {
                    $("#wma").append($("<option />").val(this.objectid).text(this.codewma));
                }
            }
        }
    });

    function ChangeWMB() {
        $('#wma').html('');
        $.each(wms, function () {
            if ($("#wma option[value='" + this.codewma + "']").length == 0) {
                if (this.codewma.length > 0) {
                    if (this.codewmb == $('#wmb').val()) {
                        $("#wma").append($("<option />").val(this.objectid).text(this.codewma));
                    }
                }
            }
        });
        NavigateToWMA();
    }

    function RefreshWMS() {
        Chart1($("#wma").val());
        Chart2($("#wma").val());
        Chart3($("#wma").val());
    }
</script>

<script>
    $(function () {
        $('#navigation').navpoints({ offset: 70 });
    });
    $(document).ready(function () {
        Chart1();
        Chart2();
        Chart3();
    });
    //$(function () {
    //    $('.selectpicker').selectpicker();
    //});
</script>

@* maps *@
<script>
    var geoserver_url = "@ViewBag.GeoServerUrl",
        geoserver_workspace_name = "climate";

    var urlTpl = 'https://{1-4}.{base}.maps.cit.api.here.com' +
        '/{type}/2.1/maptile/newest/{scheme}/{z}/{x}/{y}/256/png' +
        '?app_id={app_id}&app_code={app_code}';
    function HEREcreateUrl(tpl, HERElayerDesc) {
        return tpl
            .replace('{base}', HERElayerDesc.base)
            .replace('{type}', HERElayerDesc.type)
            .replace('{scheme}', HERElayerDesc.scheme)
            .replace('{app_id}', HERElayerDesc.app_id)
            .replace('{app_code}', HERElayerDesc.app_code);
    };
    var HEREappId = 'SLdBasp4s1oq2oUbVGxy';
    var HEREappCode = 'D9-h9iVhjgUB_9eUlFETXA';
    var HERElayerDescHybridDay = {
        base: 'aerial',
        type: 'maptile',
        scheme: 'hybrid.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HEREHybridDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescHybridDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' + '<a href="http://developer.here.com">HERE</a>'
    });

    var Layer_Base = new ol.layer.Tile({
        source: Source_HEREHybridDay
    });
    Layer_Base.set('name', 'Base');
    Layer_Base.setOpacity(0.80);

    var Layer_Climate1 = new ol.layer.Tile({
        source: null
    });
    Layer_Climate1.set('name', 'Climate');
    Layer_Climate1.setOpacity(0.80);

    var Layer_Climate2 = new ol.layer.Tile({
        source: null
    });
    Layer_Climate2.set('name', 'Climate');
    Layer_Climate2.setOpacity(0.80);

    var url_wma_polygon = geoserver_url + 'geonode' + '/wms';

    var Source_wma_polygon1 = new ol.source.TileWMS({
        url: url_wma_polygon,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            "LAYERS": 'geonode:wma_polygon',
            "exceptions": 'application/vnd.ogc.se_inimage',
            tilesOrigin: 39.1622186743878 + "," + 39.9996233923096
        },
        serverType: 'geoserver'
    });
    var Layer_wma_polygon1 = new ol.layer.Tile({
        source: Source_wma_polygon1
    });
    Layer_wma_polygon1.set('name', 'wma_polygon');
    Layer_wma_polygon1.setOpacity(0.80);

    var Source_wma_polygon2 = new ol.source.TileWMS({
        url: url_wma_polygon,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            "LAYERS": 'geonode:wma_polygon',
            "exceptions": 'application/vnd.ogc.se_inimage',
            tilesOrigin: 39.1622186743878 + "," + 39.9996233923096
        },
        serverType: 'geoserver'
    });
    var Layer_wma_polygon2 = new ol.layer.Tile({
        source: Source_wma_polygon2
    });
    Layer_wma_polygon2.set('name', 'wma_polygon');
    Layer_wma_polygon2.setOpacity(0.80);

    var Layer_wma_polygon_Navigate1 = new ol.layer.Vector({
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'transparent'
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 4
            })
        })
    });
    Layer_wma_polygon_Navigate1.set('name', 'wma_polygonnavigate');

    var Layer_wma_polygon_Navigate2 = new ol.layer.Vector({
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'transparent'
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 4
            })
        })
    });
    Layer_wma_polygon_Navigate2.set('name', 'wma_polygonnavigate');

    var map1 = new ol.Map({
        target: 'map1',
        controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
            new ol.control.ScaleLine()
        ]),
        layers: [
            Layer_Base,
            Layer_Climate1,
            Layer_wma_polygon1
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([66.902, 48.714]),
            zoom: 4,
            minZoom: 4,
            extent: [5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296]
        })
    });

    var map2 = new ol.Map({
        target: 'map2',
        controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
            new ol.control.ScaleLine()
        ]),
        layers: [
            Layer_Base,
            Layer_Climate2,
            Layer_wma_polygon2
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([66.902, 48.714]),
            zoom: 4,
            minZoom: 4,
            extent: [5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296]
        })
    });
</script>

@* NavigateToWMA *@
<script>
    var first_wma_polygon_Navigate1 = true,
        first_wma_polygon_Navigate2 = true;

    function NavigateToWMA() {
        var wma_code = $("#wma option:selected").text();
        var filter = "CodeWMA = '" + wma_code + "'";
        var filterParams = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams["CQL_FILTER"] = filter;
        }
        url_wma_polygon_Navigate = geoserver_url + 'geonode' + "/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode:wma_polygon&CQL_FILTER=" + filter + "&outputFormat=text/javascript&format_options=callback:getJson";

        if (Layer_wma_polygon_Navigate1.getSource() != null) {
            Layer_wma_polygon_Navigate1.getSource().clear();
        }
        if (Layer_wma_polygon_Navigate2.getSource() != null) {
            Layer_wma_polygon_Navigate2.getSource().clear();
        }
        $.ajax({
            jsonp: false,
            jsonpCallback: 'getJson',
            type: 'GET',
            url: url_wma_polygon_Navigate,
            async: false,
            dataType: 'jsonp',
            success: function (data_wma_polygon_Navigate) {
                var new_source1 = new ol.source.Vector({
                    features: (new ol.format.GeoJSON()).readFeatures(data_wma_polygon_Navigate, {
                        featureProjection: 'EPSG:3857'
                    })
                });
                Layer_wma_polygon_Navigate1.setSource(new_source1);
                map1.getView().fit(Layer_wma_polygon_Navigate1.getSource().getExtent());
                if (first_wma_polygon_Navigate1) {
                    map1.addLayer(Layer_wma_polygon_Navigate1);
                    first_wma_polygon_Navigate1 = false;
                }

                var new_source2 = new ol.source.Vector({
                    features: (new ol.format.GeoJSON()).readFeatures(data_wma_polygon_Navigate, {
                        featureProjection: 'EPSG:3857'
                    })
                });
                Layer_wma_polygon_Navigate2.setSource(new_source2);
                map2.getView().fit(Layer_wma_polygon_Navigate2.getSource().getExtent());
                if (first_wma_polygon_Navigate2) {
                    map2.addLayer(Layer_wma_polygon_Navigate2);
                    first_wma_polygon_Navigate2 = false;
                }
            }
        });
    }
</script>

@* ChangeLayerClimate *@
<script>
    function ChangeLayerClimate1() {
        var SubParameter = $('#SubParameter1').val(),
            Period = $('#Period1').val(),
            RCP = $('#RCP1').val(),
            Decade = $('#Decade').val(),
            Season = ''/*$('#Season1').val()*/,
            Month = ''/*$('#Month1').val()*/;
        if (Period.length == 1 && Period != 'y') {
            Season = Period;
            Period = 's';
        }
        else if (Period.length == 2) {
            Month = Period;
            Period = 'm';
        }

        var layerClimate = '';

        // Отклонения осадков в мм
        if (SubParameter == 'pr_dlt_avg_mm') {
            var SubParameter_ = SubParameter.substr(0, SubParameter.length - 3);
            layerClimate = SubParameter_ + '_' + Period + '_' + RCP + '_' + Decade + '_' + 'mm';
        }
        else {
            layerClimate = SubParameter + '_' + Period + '_' + RCP + '_' + Decade;
        }

        $('#mapinfo1').text($('#years10').val().split(';')[0] + ' - ' + (parseInt($('#years10').val().split(';')[0]) + parseInt(Decade) - 1));

        var date_str = $('#years10').val().split(';')[0];
        if (Period == 'y') {
            date_str += '-01-01';
            $('.seasons1').hide();
            $('.months1').hide();
        }
        if (Period == 's') {
            $('.seasons1').show();
            $('.months1').hide();
            // эвапотранспорация
            if (SubParameter == 'et_pd_avg' || SubParameter == 'et_dlt_avg') {
                if (Season == 4) {
                    date_str += '-01-01';
                }
                else if (Season == 1) {
                    date_str += '-03-01';
                }
                else if (Season == 2) {
                    date_str += '-06-01';
                }
                else if (Season == 3) {
                    date_str += '-09-01';
                }
            }
            else {
                date_str += '-0' + Season + '-01';
            }
        }
        if (Period == 'm') {
            $('.seasons1').hide();
            $('.months1').show();
            date_str += '-' + Month + '-01';
        }

        var Source_Climate_New = new ol.source.TileWMS({
            url: geoserver_url + geoserver_workspace_name + '/wms?' + 'time=' + date_str + '&',
            params: {
                'FORMAT': 'image/png',
                'VERSION': '1.1.1',
                tiled: true,
                "LAYERS": geoserver_workspace_name + ':' + layerClimate,
                "exceptions": 'application/vnd.ogc.se_inimage',
                tilesOrigin: 39.1622186743878 + "," + 39.9996233923096
            },
            serverType: 'geoserver'
        });
        Layer_Climate1.setSource(Source_Climate_New);
    }

    function ChangeLayerClimate2() {
        var SubParameter = $('#SubParameter2').val(),
            Period = $('#Period2').val(),
            RCP = $('#RCP2').val(),
            Decade = $('#Decade').val(),
            Season = ''/*$('#Season2').val()*/,
            Month = ''/*$('#Month2').val()*/;
        if (Period.length == 1 && Period != 'y') {
            Season = Period;
            Period = 's';
        }
        else if (Period.length == 2) {
            Month = Period;
            Period = 'm';
        }

        var layerClimate = '';

        // Отклонения осадков в мм
        if (SubParameter == 'pr_dlt_avg_mm') {
            var SubParameter_ = SubParameter.substr(0, SubParameter.length - 3);
            layerClimate = SubParameter_ + '_' + Period + '_' + RCP + '_' + Decade + '_' + 'mm';
        }
        else {
            layerClimate = SubParameter + '_' + Period + '_' + RCP + '_' + Decade;
        }

        $('#mapinfo2').text($('#years10').val().split(';')[0] + ' - ' + (parseInt($('#years10').val().split(';')[0]) + parseInt(Decade) - 1));

        var date_str = $('#years10').val().split(';')[0];
        if (Period == 'y') {
            date_str += '-01-01';
            $('.seasons2').hide();
            $('.months2').hide();
        }
        if (Period == 's') {
            $('.seasons2').show();
            $('.months2').hide();
            // эвапотранспорация
            if (SubParameter == 'et_pd_avg' || SubParameter == 'et_dlt_avg') {
                if (Season == 4) {
                    date_str += '-01-01';
                }
                else if (Season == 1) {
                    date_str += '-03-01';
                }
                else if (Season == 2) {
                    date_str += '-06-01';
                }
                else if (Season == 3) {
                    date_str += '-09-01';
                }
            }
            else {
                date_str += '-0' + Season + '-01';
            }
        }
        if (Period == 'm') {
            $('.seasons2').hide();
            $('.months2').show();
            date_str += '-' + Month + '-01';
        }

        var Source_Climate_New = new ol.source.TileWMS({
            url: geoserver_url + geoserver_workspace_name + '/wms?' + 'time=' + date_str + '&',
            params: {
                'FORMAT': 'image/png',
                'VERSION': '1.1.1',
                tiled: true,
                "LAYERS": geoserver_workspace_name + ':' + layerClimate,
                "exceptions": 'application/vnd.ogc.se_inimage',
                tilesOrigin: 39.1622186743878 + "," + 39.9996233923096
            },
            serverType: 'geoserver'
        });
        Layer_Climate2.setSource(Source_Climate_New);
    }
</script>

@* Chart1Show, Chart1Show, Chart3Show *@
<script>
    function Chart1Show() {
        $('#chartbody1').show();
        $('#chartbody2').hide();
        $('#chartbody3').hide();
    }
    function Chart2Show() {
        $('#chartbody1').hide();
        $('#chartbody2').show();
        $('#chartbody3').hide();
    }
    function Chart3Show() {
        $('#chartbody1').hide();
        $('#chartbody2').hide();
        $('#chartbody3').show();
    }
</script>

@* ShowMax *@
<script>
    function ShowMax() {
        for (var i = 0; i < chart1.data.datasets.length; ++i) {
            if (chart1.data.datasets[i].label.toLowerCase().includes('максимум')) {
                chart1.data.datasets[i].hidden = false;
            }
            else {
                chart1.data.datasets[i].hidden = true;
            }
        }
        chart1.update();

        for (var i = 0; i < chart2.data.datasets.length; ++i) {
            if (chart2.data.datasets[i].label.toLowerCase().includes('максимум')) {
                chart2.data.datasets[i].hidden = false;
            }
            else {
                chart2.data.datasets[i].hidden = true;
            }
        }
        chart2.update();

        for (var i = 0; i < chart3.data.datasets.length; ++i) {
            if (chart3.data.datasets[i].label.toLowerCase().includes('максимум')) {
                chart3.data.datasets[i].hidden = false;
            }
            else {
                chart3.data.datasets[i].hidden = true;
            }
        }
        chart3.update();
    }

    function ShowMin() {
        for (var i = 0; i < chart1.data.datasets.length; ++i) {
            if (chart1.data.datasets[i].label.toLowerCase().includes('минимум')) {
                chart1.data.datasets[i].hidden = false;
            }
            else {
                chart1.data.datasets[i].hidden = true;
            }
        }
        chart1.update();

        for (var i = 0; i < chart2.data.datasets.length; ++i) {
            if (chart2.data.datasets[i].label.toLowerCase().includes('минимум')) {
                chart2.data.datasets[i].hidden = false;
            }
            else {
                chart2.data.datasets[i].hidden = true;
            }
        }
        chart2.update();

        for (var i = 0; i < chart3.data.datasets.length; ++i) {
            if (chart3.data.datasets[i].label.toLowerCase().includes('минимум')) {
                chart3.data.datasets[i].hidden = false;
            }
            else {
                chart3.data.datasets[i].hidden = true;
            }
        }
        chart3.update();
    }

    function ShowMedian() {
        for (var i = 0; i < chart1.data.datasets.length; ++i) {
            if (chart1.data.datasets[i].label.toLowerCase().includes('медиана')) {
                chart1.data.datasets[i].hidden = false;
            }
            else {
                chart1.data.datasets[i].hidden = true;
            }
        }
        chart1.update();

        for (var i = 0; i < chart2.data.datasets.length; ++i) {
            if (chart2.data.datasets[i].label.toLowerCase().includes('медиана')) {
                chart2.data.datasets[i].hidden = false;
            }
            else {
                chart2.data.datasets[i].hidden = true;
            }
        }
        chart2.update();

        for (var i = 0; i < chart3.data.datasets.length; ++i) {
            if (chart3.data.datasets[i].label.toLowerCase().includes('медиана')) {
                chart3.data.datasets[i].hidden = false;
            }
            else {
                chart3.data.datasets[i].hidden = true;
            }
        }
        chart3.update();
    }
</script>

@*for RangeSlaider*@
<script>
    var years10values = [1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020, 2030, 2040, 2050, 2060, 2070, 2080, 2090, 2100];

    // be careful! FROM and TO should be index of values array
    var my_from = years10values.indexOf(1951);
    var my_to = years10values.indexOf(1961);

    $("#years10").ionRangeSlider({
        skin: "round",
        type: "double",
        grid: true,
        grid_snap: true,
        from: my_from,
        to: my_to,
        values: years10values,
        drag_interval: true,
        min_interval: null,
        max_interval: null,
        prettify_enabled: false,

    });
</script>

<script>
    var yearlabels = [1951, 1961, 1971, 1981, 1991, 2001, 2011, 2021, 2031, 2041, 2051, 2061, 2071, 2081, 2091, 2101];
    var seasonlabels = ['1951 весна', '1951  лето', '1951  осень', '1951  зима', '1961 весна', '1961  лето', '1961  осень', '1961  зима', '1970 весна', '1970  лето', '1970  осень', '1970  зима', '1981 весна', '1981  лето', '1981  осень', '1981  зима', '1991 весна', '1991  лето', '1991  осень', '1991  зима', '2001 весна', '2001  лето', '2001  осень', '2001  зима', '2011 весна', '2011  лето', '2011  осень', '2011  зима', '2021 весна', '2021  лето', '2021  осень', '2021  зима', '2031 весна', '2031  лето', '2031  осень', '2031  зима', '2041 весна', '2041  лето', '2041  осень', '2041  зима', '2051 весна', '2051  лето', '2051  осень', '2051  зима', '2061 весна', '2061  лето', '2061  осень', '2061  зима', '2071 весна', '2071  лето', '2071  осень', '2071  зима', '2081 весна', '2081  лето', '2081  осень', '2081  зима', '2091 весна', '2091  лето', '2091  осень', '2091  зима', '2101весна', '2101  лето', '2101  осень', '2101  зима'];
    var chartDates10Med = [15.22, 15.18, 15.46, 15.50, 15.55, 15.59, NaN, 15.85, 16.02, 16.05, 16.10, 16.22, 16.25, 19.07, 16.33, 16.25];
    var chartSeasonDates10Med = [12.22, 12.18, 12.46, 12.50, 12.55, 12.59, NaN, 12.85, 12.02, 13.05, 13.10, 13.22, 13.25, 13.07, 13.33, 13.25, 16.22, 16.18, 16.46, 16.50, 16.55, NaN, NaN, 16.85, 16.02, 16.05, 16.10, 16.22, 16.25, 19.07, 16.33, 16.25, 15.22, 15.18, 15.46, 15.50, 15.55, 15.59, NaN, 15.85, 16.02, 16.05, 16.10, 16.22, 16.25, 19.07, 16.33, 16.25, 13.22, 13.18, 13.46, 13.50, 13.55, NaN, NaN, 13.85, 13.02, 13.05, 13.10, 13.22, 13.25, 13.07, 13.33, 13.25];
    var chartDates10Max = [16.22, 16.18, 16.46, 16.50, 16.55, NaN, NaN, 16.85, 16.02, 16.05, 16.10, 16.22, 16.25, 19.07, 16.33, 16.25];
    var chartDates10Min = [13.22, 13.18, 13.46, 13.50, 13.55, NaN, NaN, 13.85, 13.02, 13.05, 13.10, 13.22, 13.25, 13.07, 13.33, 13.25];
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
        // The data for our dataset
        data: {
            labels: yearlabels,
            datasets: [{
                label: 'Медиана',
                backgroundColor: "rgba(75, 192, 192, 0.5)",
                borderColor: "rgba(75, 192, 192,1)",
                borderWidth: 1,
                data: chartDates10Med
            }]
        },
        // Configuration options go here
        options: {
            legend: {
                display: true,
                position: 'bottom'
            }
            //scales: {
            //    xAxes: [{
            //        stacked: true
            //    }],
            //    yAxes: [{
            //        stacked: true
            //    }]
            //}
        },
    });
    function updateChart10() {
        chart.data.labels = yearlabels
        chart.data.datasets[0].data = chartDates10Med;
        chart.update();
    };
    function updateChart20() {
        chart.data.datasets[0].data = chartSeasonDates10Med;
        chart.data.labels = seasonlabels
        chart.update();
    };
    function addValueMax() {
        chart.data.datasets.push({
            label: 'Максимум',
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgba(255,99,132,1)',
            borderWidth: 1,
            data: chartDates10Max
        }),
            chart.update();
    };
    function addValueMin() {
        chart.data.datasets.push({
            label: 'Минимум',
            backgroundColor: 'rgba(153, 102, 255, 0.5)',
            borderColor: 'rgba(153, 102, 255,1)',
            borderWidth: 1,
            data: chartDates10Min
        }),
            chart.update();
    };

</script>

@* $(document).ready(function ()) { } *@
<script>
    $(document).ready(function () {
        Chart1Show();
        ChangeLayerClimate1();
        ChangeLayerClimate2();
        NavigateToWMA();
    });
</script>