
@{
    ViewData["Title"] = "Графики";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/esnow/lib/сhart.js/dist/Chart.css" rel="stylesheet" />
<script src="~/esnow/lib/moment.js/moment.js"></script>
<script src="~/esnow/lib/сhart.js/dist/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="panel-default m-3">
            <h5 class="card-title">ВХБ</h5>
            <p class="card-text">ВХУ:   <b>Name</b></p>
        </div>
        <fieldset class="scheduler-border m-0">
            <legend class="scheduler-border pl-2 pr-2"> Configure All Plot </legend>
            <form>
                <div class="form-group">
                    <label for="inputVHB">ВХБ:</label>
                    <select id="inputVHB" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputVHU">ВХУ:</label>
                    <select id="inputVHU" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </form>
            <input type="button" class="btn btn-primary btn-block" value="Обновить" />
        </fieldset>
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#section1">Динамика по годам</a>
            <a class="list-group-item list-group-item-action" href="#section2">Динамика по сезонам</a>
            <a class="list-group-item list-group-item-action" href="#section3">Динамика по месяцам</a>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin-top: 50px;">
        <div class="row d-flex">
            <div class="col">
                <div class="card shadow mt-3" id="section1">
                    <div class="card-body">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                            <h1 class="h4">Динамика климатического параметра по годам</h1>
                            <div class="btn-toolbar">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" id="download-pdf">Export</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 order-md-2 mt-2">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"> Configure Plot 1 </legend>
                                    <form>
                                        <div class="form-group">
                                            <label for="chart1SubParameter">Климатический параметр:</label>
                                            <select class="form-control form-control-sm" id="chart1SubParameter">
                                                <option value="tasmax_pd_avg">Максимальная температура</option>
                                                <option value="tas_pd_avg">Средняя температура</option>
                                                <option value="tasmin_pd_avg">Минимальная температура</option>
                                                <option value="pr_pd_avg">Осадки</option>
                                                <option value="pr_dlt_avg_mm">Отклонения средней суммы осадков от значений базового периода в мм</option>
                                                <option value="et_pd_avg">Эвапотранспирация</option>
                                                <option value="et_dlt_avg">Отклонения эвапотранспирации от значений базового периода</option>
                                                <option value="tasmax_dlt_avg">Отклонения максимальной температуры от значений базового периода</option>
                                                <option value="tas_dlt_avg">Отклонения средней температуры</option>
                                                <option value="tasmin_dlt_avg">Отклонения минимальной температуры</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart1Decade">Периодичность:</label>
                                            <select class="form-control form-control-sm" id="chart1Decade" onchange="chart1UpdateDates()">
                                                <option value="10">10 лет</option>
                                                <option value="20">20 лет</option>
                                                <option value="30">30 лет</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart1Decade">RCP:</label>
                                            <select class="form-control form-control-sm" id="chart1RCP">
                                                <option value="rcp45">rcp 4.5</option>
                                                <option value="rcp85">rcp 8.5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1951" name="chart1Dates" value="1951" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1951">1951</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1961" name="chart1Dates" value="1961" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1961">1961</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1971" name="chart1Dates" value="1971" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1971">1971</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1981" name="chart1Dates" value="1981" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1981">1981</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox1991" name="chart1Dates" value="1991" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox1991">1991</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2001" name="chart1Dates" value="2001" disabled>
                                                <label class="form-check-label" for="chart1inlineCheckbox2001">2001</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2011" name="chart1Dates" value="2011" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2011">2011</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2021" name="chart1Dates" value="2021" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2021">2021</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2031" name="chart1Dates" value="2031" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2031">2031</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2041" name="chart1Dates" value="2041" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2041">2041</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2051" name="chart1Dates" value="2051" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2051">2051</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2061" name="chart1Dates" value="2061" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2061">2061</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2071" name="chart1Dates" value="2071" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2071">2071</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2081" name="chart1Dates" value="2081" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2081">2081</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart1inlineCheckbox2091" name="chart1Dates" value="2091" checked>
                                                <label class="form-check-label" for="chart1inlineCheckbox2091">2091</label>
                                            </div>
                                        </div>
                                    </form>
                                    <input type="button" class="btn btn-outline-primary btn-sm" value="Обновить" onclick="Chart1()" />
                                </fieldset>

                            </div>
                            <div class="col-md-9">
                                <canvas class="my-1 w-100 chartjs-render-monitor" id="chart1Canvas" width="900" height="380"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mt-3" id="section2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                            <h1 class="h4">Динамика климатического параметра по сезонам</h1>
                            <div class="btn-toolbar">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 order-md-2 mt-2">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"> Configure Plot 2 </legend>
                                    <form>
                                        <div class="form-group">
                                            <label for="chart2SubParameter">Климатический параметр:</label>
                                            <select class="form-control form-control-sm" id="chart2SubParameter">
                                                <option value="tasmax_pd_avg">Максимальная температура</option>
                                                <option value="tas_pd_avg">Средняя температура</option>
                                                <option value="tasmin_pd_avg">Минимальная температура</option>
                                                <option value="pr_pd_avg">Осадки</option>
                                                <option value="pr_dlt_avg_mm">Отклонения средней суммы осадков от значений базового периода в мм</option>
                                                <option value="et_pd_avg">Эвапотранспирация</option>
                                                <option value="et_dlt_avg">Отклонения эвапотранспирации от значений базового периода</option>
                                                <option value="tasmax_dlt_avg">Отклонения максимальной температуры от значений базового периода</option>
                                                <option value="tas_dlt_avg">Отклонения средней температуры</option>
                                                <option value="tasmin_dlt_avg">Отклонения минимальной температуры</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart2Decade">Периодичность:</label>
                                            <select class="form-control form-control-sm" id="chart2Decade" onchange="chart2UpdateDates()">
                                                <option value="10">10 лет</option>
                                                <option value="20">20 лет</option>
                                                <option value="30">30 лет</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart2Decade">RCP:</label>
                                            <select class="form-control form-control-sm" id="chart2RCP">
                                                <option value="rcp45">rcp 4.5</option>
                                                <option value="rcp85">rcp 8.5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1951" name="chart2Dates" value="1951" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1951">1951</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1961" name="chart2Dates" value="1961" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1961">1961</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1971" name="chart2Dates" value="1971" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1971">1971</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1981" name="chart2Dates" value="1981" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1981">1981</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox1991" name="chart2Dates" value="1991" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox1991">1991</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2001" name="chart2Dates" value="2001" disabled>
                                                <label class="form-check-label" for="chart2inlineCheckbox2001">2001</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2011" name="chart2Dates" value="2011" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2011">2011</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2021" name="chart2Dates" value="2021" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2021">2021</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2031" name="chart2Dates" value="2031" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2031">2031</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2041" name="chart2Dates" value="2041" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2041">2041</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2051" name="chart2Dates" value="2051" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2051">2051</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2061" name="chart2Dates" value="2061" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2061">2061</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2071" name="chart2Dates" value="2071" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2071">2071</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2081" name="chart2Dates" value="2081" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2081">2081</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2inlineCheckbox2091" name="chart2Dates" value="2091" checked>
                                                <label class="form-check-label" for="chart2inlineCheckbox2091">2091</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2Season1" name="chart2Seasons" value="1" checked>
                                                <label class="form-check-label" for="chart2Season1">Весна</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2Season2" name="chart2Seasons" value="2">
                                                <label class="form-check-label" for="chart2Season2">Лето</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2Season3" name="chart2Seasons" value="3">
                                                <label class="form-check-label" for="chart2Season3">Осень</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart2Season4" name="chart2Seasons" value="4">
                                                <label class="form-check-label" for="chart2Season4">Зима</label>
                                            </div>
                                        </div>
                                    </form>
                                    <input type="button" class="btn btn-outline-primary btn-sm" value="Обновить" onclick="Chart2()" />
                                </fieldset>
                            </div>
                            <div class="col-md-9">
                                <canvas class="my-1 w-100 chartjs-render-monitor" id="chart2Canvas" width="900" height="380"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mt-3" id="section3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                            <h1 class="h4">Динамика климатического параметра по месяцам</h1>
                            <div class="btn-toolbar">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 order-md-2 mt-2">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"> Configure Plot 3 </legend>
                                    <form>
                                        <div class="form-group">
                                            <label for="chart3SubParameter">Климатический параметр:</label>
                                            <select class="form-control form-control-sm" id="chart3SubParameter">
                                                <option value="tasmax_pd_avg">Максимальная температура</option>
                                                <option value="tas_pd_avg">Средняя температура</option>
                                                <option value="tasmin_pd_avg">Минимальная температура</option>
                                                <option value="pr_pd_avg">Осадки</option>
                                                <option value="pr_dlt_avg_mm">Отклонения средней суммы осадков от значений базового периода в мм</option>
                                                <option value="et_pd_avg">Эвапотранспирация</option>
                                                <option value="et_dlt_avg">Отклонения эвапотранспирации от значений базового периода</option>
                                                <option value="tasmax_dlt_avg">Отклонения максимальной температуры от значений базового периода</option>
                                                <option value="tas_dlt_avg">Отклонения средней температуры</option>
                                                <option value="tasmin_dlt_avg">Отклонения минимальной температуры</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart3Decade">Периодичность:</label>
                                            <select class="form-control form-control-sm" id="chart3Decade" onchange="chart3UpdateDates()">
                                                <option value="10">10 лет</option>
                                                <option value="20">20 лет</option>
                                                <option value="30">30 лет</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="chart3Decade">RCP:</label>
                                            <select class="form-control form-control-sm" id="chart3RCP">
                                                <option value="rcp45">rcp 4.5</option>
                                                <option value="rcp85">rcp 8.5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1951" name="chart3Dates" value="1951" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1951">1951</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1961" name="chart3Dates" value="1961" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1961">1961</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1971" name="chart3Dates" value="1971" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1971">1971</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1981" name="chart3Dates" value="1981" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1981">1981</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox1991" name="chart3Dates" value="1991" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox1991">1991</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2001" name="chart3Dates" value="2001" disabled>
                                                <label class="form-check-label" for="chart3inlineCheckbox2001">2001</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2011" name="chart3Dates" value="2011" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2011">2011</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2021" name="chart3Dates" value="2021" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2021">2021</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2031" name="chart3Dates" value="2031" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2031">2031</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2041" name="chart3Dates" value="2041" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2041">2041</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2051" name="chart3Dates" value="2051" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2051">2051</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2061" name="chart3Dates" value="2061" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2061">2061</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2071" name="chart3Dates" value="2071" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2071">2071</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2081" name="chart3Dates" value="2081" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2081">2081</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3inlineCheckbox2091" name="chart3Dates" value="2091" checked>
                                                <label class="form-check-label" for="chart3inlineCheckbox2091">2091</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month1" name="chart3Months" value="1" checked>
                                                <label class="form-check-label" for="chart3Month1">Январь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month2" name="chart3Months" value="2">
                                                <label class="form-check-label" for="chart3Month2">Февраль</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month3" name="chart3Months" value="3">
                                                <label class="form-check-label" for="chart3Month3">Март</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month4" name="chart3Months" value="4">
                                                <label class="form-check-label" for="chart3Month4">Апрель</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month5" name="chart3Months" value="5">
                                                <label class="form-check-label" for="chart3Month5">Май</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month6" name="chart3Months" value="6">
                                                <label class="form-check-label" for="chart3Month6">Июнь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month7" name="chart3Months" value="7">
                                                <label class="form-check-label" for="chart3Month7">Июль</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month8" name="chart3Months" value="8">
                                                <label class="form-check-label" for="chart3Month8">Август</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month9" name="chart3Months" value="9">
                                                <label class="form-check-label" for="chart3Month9">Сентябрь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month10" name="chart3Months" value="10">
                                                <label class="form-check-label" for="chart3Month10">Октябрь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month11" name="chart3Months" value="11">
                                                <label class="form-check-label" for="chart3Month11">Ноябрь</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chart3Month12" name="chart3Months" value="12">
                                                <label class="form-check-label" for="chart3Month12">Декабрь</label>
                                            </div>
                                        </div>
                                    </form>
                                    <input type="button" class="btn btn-outline-primary btn-sm" value="Обновить" onclick="Chart3()" />
                                </fieldset>
                            </div>
                            <div class="col-md-9">
                                <canvas class="my-4 w-100 chartjs-render-monitor" id="chart3Canvas" width="900" height="380"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="id" value="@ViewBag.Id" type="hidden" />
            </div>
        </div>
        <h4>Section title</h4>
        
    </main>
</div>

<script>
    var chart1 = null,
        chart2 = null,
        chart3 = null;

    function chart1UpdateDates() {
        $('input:checkbox[name="chart1Dates"][value="1991"]').removeAttr('disabled');
        $('input:checkbox[name="chart1Dates"][value="1981"]').removeAttr('disabled');
        if ($('#chart1Decade').val() == 20) {
            $('input:checkbox[name="chart1Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart1Dates"][value="1991"]').prop("disabled", true);
        }
        if ($('#chart1Decade').val() == 30) {
            $('input:checkbox[name="chart1Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart1Dates"][value="1991"]').prop("disabled", true);
            $('input:checkbox[name="chart1Dates"][value="1981"]').prop('checked', false);
            $('input:checkbox[name="chart1Dates"][value="1981"]').prop("disabled", true);
        }
    }

    function chart2UpdateDates() {
        $('input:checkbox[name="chart2Dates"][value="1991"]').removeAttr('disabled');
        $('input:checkbox[name="chart2Dates"][value="1981"]').removeAttr('disabled');
        if ($('#chart2Decade').val() == 20) {
            $('input:checkbox[name="chart2Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart2Dates"][value="1991"]').prop("disabled", true);
        }
        if ($('#chart2Decade').val() == 30) {
            $('input:checkbox[name="chart2Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart2Dates"][value="1991"]').prop("disabled", true);
            $('input:checkbox[name="chart2Dates"][value="1981"]').prop('checked', false);
            $('input:checkbox[name="chart2Dates"][value="1981"]').prop("disabled", true);
        }
    }

    function chart3UpdateDates() {
        $('input:checkbox[name="chart3Dates"][value="1991"]').removeAttr('disabled');
        $('input:checkbox[name="chart3Dates"][value="1981"]').removeAttr('disabled');
        if ($('#chart3Decade').val() == 20) {
            $('input:checkbox[name="chart3Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart3Dates"][value="1991"]').prop("disabled", true);
        }
        if ($('#chart3Decade').val() == 30) {
            $('input:checkbox[name="chart3Dates"][value="1991"]').prop('checked', false);
            $('input:checkbox[name="chart3Dates"][value="1991"]').prop("disabled", true);
            $('input:checkbox[name="chart3Dates"][value="1981"]').prop('checked', false);
            $('input:checkbox[name="chart3Dates"][value="1981"]').prop("disabled", true);
        }
    }

    function Chart1() {
        var chart1Dates = [];
        $("input:checkbox[name=chart1Dates]:checked").each(function(){
            chart1Dates.push($(this).val());
        });
        $.ajax({
            url: '@Url.Action("GetChart1")',
            data: {
                Id: @ViewBag.Id,
                SubParameter: $('#chart1SubParameter').val(),
                Decade: $('#chart1Decade').val(),
                RCP: $('#chart1RCP').val(),
                Dates: chart1Dates
            },
            type: 'POST',
            success: function (data) {
                for (var i = 0; i < data.max.length; ++i) {
                    data.max[i] = parseFloat(data.max[i]).toFixed(2);
                }
                for (var i = 0; i < data.min.length; ++i) {
                    data.min[i] = parseFloat(data.min[i]).toFixed(2);
                }
                for (var i = 0; i < data.median.length; ++i) {
                    data.median[i] = parseFloat(data.median[i]).toFixed(2);
                }
                var chart1Data = {
                    labels: data.years,
                    datasets: [{
                        label: 'Максимум',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth: 1,
                        data: data.max
                    }, {
                        label: 'Минимум',
                        backgroundColor: 'rgba(153, 102, 255, 0.5)',
                        borderColor: 'rgba(153, 102, 255,1)',
                        borderWidth: 1,
                        data: data.min
                    }, {
                        label: 'Медиана',
                        backgroundColor: "rgba(75, 192, 192, 0.5)",
                        borderColor: "rgba(75, 192, 192,1)",
                        borderWidth: 1,
                        data: data.median
                    }]
                };

                var ctx1 = document.getElementById('chart1Canvas').getContext('2d');
                if (chart1 != null) {
                    chart1.destroy();
                }
                chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: chart1Data,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'right',
                        },
                        title: {
                            display: true,
                            fontSize: 20,
                            fontColor: '#000',
                            text: 'ВХБ - ' + data.wmbname + ' (ВХУ - ' + data.wmacode + ')'
                        },
                        tooltips: {
						    mode: 'index',
						    intersect: false
					    }
                    }
                });
            },
            error: function () {
                console.log('Error 1');
            }
        });
    };

    function Chart2() {
        var seasonNames = ['весна', 'лето', 'осень', 'зима'],
            seasonColors = ['rgba(0, 128, 0, 0.9)', 'rgba(230, 0, 0, 0.9)', 'rgba(35, 153, 75, 0.5)', 'rgba(34, 26, 194, 0.9)'],
            seasonMaxColors = ['rgba(0, 128, 0, 0.9)', 'rgba(230, 0, 0, 0.9)', 'rgba(219, 205, 0, 0.9)', 'rgba(34, 26, 194, 0.9)'],
            seasonMinColors = ['rgba(102, 203, 102, 0.4)', 'rgba(255, 102, 102, 0.4)', 'rgba(255, 255, 113, 0.4)', 'rgba(161, 153, 255, 0.4)'],
            seasonMedianColors = ['rgba(51, 179, 51, 0.7)', 'rgba(255, 51, 51, 0.7)', 'rgba(255, 255, 51, 0.7)', 'rgba(59, 51, 219, 0.7)'];
        var chart2Dates = [];
        $("input:checkbox[name=chart2Dates]:checked").each(function () {
            chart2Dates.push(parseInt($(this).val()));
        });
        var chart2Seasons = [];
        $("input:checkbox[name=chart2Seasons]:checked").each(function(){
            chart2Seasons.push(parseInt($(this).val()));
        });
        $.ajax({
            url: '@Url.Action("GetChart2")',
            data: {
                Id: @ViewBag.Id,
                SubParameter: $('#chart2SubParameter').val(),
                Decade: $('#chart2Decade').val(),
                RCP: $('#chart2RCP').val(),
                Dates: chart2Dates,
                Seasons: chart2Seasons
            },
            type: 'POST',
            success: function (data) {
                // 0 - spring
                for (var i = 0; i < data.max.length; ++i) {
                    for (var j = 0; j < data.max[i].length; ++j) {
                        data.max[i][j] = parseFloat(data.max[i][j]).toFixed(2);
                    }
                }
                for (var i = 0; i < data.min.length; ++i) {
                    for (var j = 0; j < data.min[i].length; ++j) {
                        data.min[i][j] = parseFloat(data.min[i][j]).toFixed(2);
                    }
                }
                for (var i = 0; i < data.median.length; ++i) {
                    for (var j = 0; j < data.median[i].length; ++j) {
                        data.median[i][j] = parseFloat(data.median[i][j]).toFixed(2);
                    }
                }
                var chart2Data = {
                    labels: data.years,
                    datasets: []
                };
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart2Seasons.includes(i + 1)) {
                        chart2Data.datasets.push({
                            label: 'Максимум (' + seasonNames[i] + ')',
                            backgroundColor: seasonMaxColors[i],
                            borderColor: 'rgba(3, 0, 51, 0.7)',
                            borderWidth: 1,
                            stack: 'max',
                            data: data.max[i]
                        });
                    }
                }
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart2Seasons.includes(i + 1)) {
                        chart2Data.datasets.push({
                            label: 'Минимум (' + seasonNames[i] + ')',
                            backgroundColor: seasonMinColors[i],
                            borderColor: 'rgba(3, 0, 51, 0.7)',
                            borderWidth: 1,
                            stack: 'min',
                            data: data.min[i]
                        });
                    }
                }
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart2Seasons.includes(i + 1)) {
                        chart2Data.datasets.push({
                            label: 'Медиана (' + seasonNames[i] + ')',
                            backgroundColor: seasonMedianColors[i],
                            borderColor: 'rgba(3, 0, 51, 0.7)',
                            borderWidth: 1,
                            stack: 'median',
                            data: data.median[i]
                        });
                    }
                }
                var ctx2 = document.getElementById('chart2Canvas').getContext('2d');
                if (chart2 != null) {
                    chart2.destroy();
                }
                chart2 = new Chart(ctx2, {
                    type: 'bar',
                    data: chart2Data,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'right',
                        },
                        title: {
                            display: true,
                            fontSize: 20,
                            fontColor: '#000',
                            text: 'ВХБ - ' + data.wmbname + ' (ВХУ - ' + data.wmacode + ')'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        }
                    }
                });
            },
            error: function () {
            }
        });
    };

    function Chart3() {
        var monthNames = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'],
            monthColors =[
                'rgba(255, 99, 132, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(150, 153, 75, 0.5)',
                'rgba(205, 130, 20, 0.5)',
                'rgba(63, 70, 250, 0.5)',
                'rgba(87, 50, 200, 0.5)',
                'rgba(169, 190, 75, 0.5)',
                'rgba(175, 240, 20, 0.5)',
                'rgba(25, 250, 150, 0.5)',
                'rgba(200, 20, 75, 0.5)',
                'rgba(175, 150, 100, 0.5)'],
            monthMaxColors =[
                'rgba(0, 112, 255, 0.5)',
                'rgba(0, 197, 255, 0.5)',
                'rgba(0, 255, 197, 0.5)',
                'rgba(85, 255, 0, 0.5)',
                'rgba(170, 255, 0, 0.5)',
                'rgba(255, 255, 0, 0.5)',
                'rgba(255, 170, 0, 0.5)',
                'rgba(255, 85, 0, 0.5)',
                'rgba(255, 0, 0, 0.5)',
                'rgba(168, 0, 0, 0.5)',
                'rgba(255, 0, 197, 0.5)',
                'rgba(197, 0, 255, 0.5)'],
            monthMinColors =[
                'rgba(191, 255, 255, 0.5)',                
                'rgba(150, 255, 255, 0.5)',
                'rgba(115, 255, 255, 0.5)',
                'rgba(255, 255, 191, 0.5)',
                'rgba(255, 255, 153, 0.5)',
                'rgba(255, 255, 229, 0.5)',
                'rgba(255, 255, 110, 0.5)',
                'rgba(255, 255, 204, 0.5)',
                'rgba(255, 229, 229, 0.5)',
                'rgba(255, 204, 211, 0.5)',
                'rgba(255, 204, 255, 0.5)',
                'rgba(255, 191, 255, 0.5)'],
            monthMedianColors =[
                'rgba(77, 189, 255, 0.5)',
                'rgba(102, 214, 255, 0.5)',
                'rgba(85, 255, 235, 0.5)',
                'rgba(162, 255, 77, 0.5)',
                'rgba(208, 255, 38, 0.5)',
                'rgba(255, 255, 115, 0.5)',
                'rgba(255, 208, 38, 0.5)',
                'rgba(255, 162, 77, 0.5)',
                'rgba(255, 77, 77, 0.5)',
                'rgba(245, 51, 58, 0.5)',
                'rgba(255, 102, 255, 0.5)',
                'rgba(255, 77, 255, 0.7)'];
        var chart3Dates = [];
        $("input:checkbox[name=chart3Dates]:checked").each(function () {
            chart3Dates.push(parseInt($(this).val()));
        });
        var chart3Months = [];
        $("input:checkbox[name=chart3Months]:checked").each(function(){
            chart3Months.push(parseInt($(this).val()));
        });
        $.ajax({
            url: '@Url.Action("GetChart3")',
            data: {
                Id: @ViewBag.Id,
                SubParameter: $('#chart3SubParameter').val(),
                Decade: $('#chart3Decade').val(),
                RCP: $('#chart3RCP').val(),
                Dates: chart3Dates,
                Months: chart3Months
            },
            type: 'POST',
            success: function (data) {
                for (var i = 0; i < data.max.length; ++i) {
                    for (var j = 0; j < data.max[i].length; ++j) {
                        data.max[i][j] = parseFloat(data.max[i][j]).toFixed(2);
                    }
                }
                for (var i = 0; i < data.min.length; ++i) {
                    for (var j = 0; j < data.min[i].length; ++j) {
                        data.min[i][j] = parseFloat(data.min[i][j]).toFixed(2);
                    }
                }
                for (var i = 0; i < data.median.length; ++i) {
                    for (var j = 0; j < data.median[i].length; ++j) {
                        data.median[i][j] = parseFloat(data.median[i][j]).toFixed(2);
                    }
                }
                var chart3Data = {
                    labels: data.years,
                    datasets: []
                };
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart3Months.includes(i + 1)) {
                        chart3Data.datasets.push({
                            label: 'Максимум (' + monthNames[i] + ')',
                            backgroundColor: monthMaxColors[i],
                            borderColor: 'rgba(8, 0, 97, 1)',
                            borderWidth: 1,
                            stack: 'max',
                            data: data.max[i]
                        });
                    }
                }
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart3Months.includes(i + 1)) {
                        chart3Data.datasets.push({
                            label: 'Минимум (' + monthNames[i] + ')',
                            backgroundColor: monthMinColors[i],
                            borderColor: 'rgba(8, 0, 97, 1)',
                            borderWidth: 1,
                            stack: 'min',
                            data: data.min[i]
                        });
                    }
                }
                for (var i = 0; i < data.max.length; ++i) {
                    if (chart3Months.includes(i + 1)) {
                        chart3Data.datasets.push({
                            label: 'Медиана (' + monthNames[i] + ')',
                            backgroundColor: monthMedianColors[i],
                            borderColor: 'rgba(8, 0, 97, 1)',
                            borderWidth: 1,
                            stack: 'median',
                            data: data.median[i]
                        });
                    }
                }
                var ctx2 = document.getElementById('chart3Canvas').getContext('2d');
                if (chart3 != null) {
                    chart3.destroy();
                }
                chart3 = new Chart(ctx2, {
                    type: 'bar',
                    data: chart3Data,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'right',
                        },
                        title: {
                            display: true,
                            fontSize: 20,
                            fontColor: '#000',
                            text: 'ВХБ - ' + data.wmbname + ' (ВХУ - ' + data.wmacode + ')'
                        },
                        tooltips: {
						    mode: 'index',
						    intersect: false
					    }
                    }
                });
            },
            error: function () {
            }
        });
    };
    
</script>

<script>
    $(function () {
        $('#navigation').navpoints({ offset: 70 });
    });
    $(document).ready(function () {
        Chart1();
        Chart2();
        Chart3();
    });
    //add event listener to button
    document.getElementById('download-pdf').addEventListener("click", downloadPDF);
    //donwload pdf from original canvas
    function downloadPDF() {
        var canvas = document.querySelector('#chart1Canvas');
        //creates image
        var canvasImg = canvas.toDataURL("image/jpeg", 1.0);
        var context = canvas.getContext("2d");
        canvas.fillStyle = "#FFFFFF";
        //creates PDF from img
        var doc = new jsPDF('landscape');
        doc.setFontSize(20);
        doc.text(10, 10, "Name Chart");
        doc.addImage(canvasImg, 'PNG', 10, 15, 270, 150);
        doc.save('canvas.pdf');
    }
</script>

