@using GeoNodeWeb.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beta GeoNode</title>

    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        </environment>*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/esnow/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="~/esnow/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/esnow/css/site.css" />
    <link rel="stylesheet" href="~/esnow/lib/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>
        </environment>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/esnow/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/esnow/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>

    <script src="~/esnow/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark border-bottom border-light bg-danger">
            <a class="navbar-brand ml-5 p-0" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="mb-1" src="~/esnow/img/logo/climchange.svg" height="30" alt="">
                <span class="font-weight text-white" style="font-size: 25px;">Kazakhstan </span>
                <span class="font-weight text-white" style="font-size: 25px;">Climate </span>
                <span class="font-weight-light text-white" style="font-size: 25px;">Change</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="btn-group btn-group-toggle ml-3 mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-light btn-sm active" data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["AirTemperature"]">
                        <input type="radio" name="parameter" id="Temperature" autocomplete="off" checked onchange="ChangeParameter()"><i class="fa fa-temperature-low"></i>
                    </label>
                    <label class="btn btn-outline-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["Precipitation"]">
                        <input type="radio" name="parameter" id="Precipitation" autocomplete="off" onchange="ChangeParameter()"> <i class="fa fa-cloud-rain"></i>
                    </label>
                    <label class="btn btn-outline-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["Evapotranspiration"]">
                        <input type="radio" name="parameter" id="Evapotranspiration" autocomplete="off" onchange="ChangeParameter()"> <i class="fa fa-smog"></i>
                    </label>
                    <label class="btn btn-outline-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["Indexes"]">
                        <input type="radio" name="parameter" id="Indexes" autocomplete="off" onchange="ChangeParameter()"> <i class="fa fa-leaf"></i>
                    </label>
                    @*<label class="btn btn-outline-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["AridityIndices"]">
                        <input type="radio" name="parameter" id="ClimatIndex" autocomplete="off" onchange="ChangeParameter()"> <i class="fa fa-superscript"></i>
                    </label>
                    <label class="btn btn-outline-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["SPI"]">
                        <input type="radio" name="parameter" id="SPI" autocomplete="off" onchange="ChangeParameter()"> <i class="fa fa-superscript"></i>
                    </label>
                    <label class="btn btn-outline-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["SPEI"]">
                        <input type="radio" name="parameter" id="SPEI" autocomplete="off" onchange="ChangeParameter()"> <i class="fa fa-superscript"></i>
                    </label>*@
                </div>
                <ul class="navbar-nav mr-auto" id="subparameterlinks">
                    <li id="Temperature1" class="nav-item active Temperature">
                        <a class="nav-link font-weight-bold SomeInfo" href="#" InfoTitle="@SharedLocalizer["MaxTemperature"]" onclick="ChangeSubParameter('tasmax_pd_avg', 'Temperature1')">@SharedLocalizer["MaxTemperatureShort"] <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="Temperature2" class="nav-item Temperature">
                        <a class="nav-link SomeInfo" href="#" InfoTitle="@SharedLocalizer["AverageTemperature"]" onclick="ChangeSubParameter('tas_pd_avg', 'Temperature2')">@SharedLocalizer["AverageTemperatureShort"]</a>
                    </li>
                    <li id="Temperature3" class="nav-item Temperature">
                        <a class="nav-link SomeInfo" href="#" InfoTitle="@SharedLocalizer["MinTemperature"]" onclick="ChangeSubParameter('tasmin_pd_avg', 'Temperature3')">@SharedLocalizer["MinTemperatureShort"]</a>
                    </li>
                    @*  *@
                    <li id="Precipitation1" class="nav-item active Precipitation">
                        <a class="nav-link font-weight-bold SomeInfo" href="#" InfoTitle="@SharedLocalizer["Precipitation"]" onclick="ChangeSubParameter('pr_pd_avg', 'Precipitation1')">@SharedLocalizer["PrecipitationShort"] <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="Precipitation2" class="nav-item Precipitation">
                        <a class="nav-link SomeInfo" href="#" InfoTitle="@SharedLocalizer["AveragePrecipitationDev"]" onclick="ChangeSubParameter('pr_dlt_avg_mm', 'Precipitation2')">@SharedLocalizer["AveragePrecipitationDevShort"]</a>
                    </li>
                    @*<li id="Precipitation3" class="nav-item Precipitation">
                            <a class="nav-link" href="#" onclick="ChangeSubParameter('pr_dlt_avg_prc', 'Precipitation3')">Отклонения средней суммы осадков от значений базового периода в %</a>
                        </li>*@
                    @*  *@
                    <li id="Evapotranspiration1" class="nav-item active Evapotranspiration">
                        <a class="nav-link font-weight-bold SomeInfo" href="#" InfoTitle="@SharedLocalizer["Evapotranspiration"]" onclick="ChangeSubParameter('et_pd_avg', 'Evapotranspiration1')">@SharedLocalizer["EvapotranspirationShort"] <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="Evapotranspiration2" class="nav-item Evapotranspiration">
                        <a class="nav-link SomeInfo" href="#" InfoTitle="@SharedLocalizer["EvapotranspirationDev"]" onclick="ChangeSubParameter('et_dlt_avg', 'Evapotranspiration2')">@SharedLocalizer["EvapotranspirationDevShort"]</a>
                    </li>
                    <li id="Indexes1" class="nav-item Indexes">
                        <a class="nav-link SomeInfo" href="#" InfoTitle="@SharedLocalizer["AridityIndices"]" onclick="ChangeSubParameter('gtk_pd_avg', 'Indexes1')">@SharedLocalizer["AridityIndicesShort"]</a>
                    </li>
                    <li id="Indexes2" class="nav-item Indexes">
                        <a class="nav-link SomeInfo" href="#" InfoTitle="@SharedLocalizer["SPI"]" onclick="ChangeSubParameter('spi_pd_avg', 'Indexes2')">@SharedLocalizer["SPIShort"]</a>
                    </li>
                    <li id="Indexes3" class="nav-item Indexes">
                        <a class="nav-link SomeInfo" href="#" InfoTitle="@SharedLocalizer["SPEI"]" onclick="ChangeSubParameter('spei_pd_avg', 'Indexes3')">@SharedLocalizer["SPEIShort"]</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@SharedLocalizer["Other"]</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <div class="dropdown-divider"></div>
                            <a id="Temperature4" class="dropdown-item Temperature SomeInfo" InfoTitle="@SharedLocalizer["MaxTemperatureDev"]" onclick="ChangeSubParameter('tasmax_dlt_avg', 'Temperature4')">@SharedLocalizer["MaxTemperatureDevShort"]</a>
                            <a id="Temperature5" class="dropdown-item Temperature SomeInfo" InfoTitle="@SharedLocalizer["AverageTemperatureDev"]" onclick="ChangeSubParameter('tas_dlt_avg', 'Temperature5')">@SharedLocalizer["AverageTemperatureDevShort"]</a>
                            <a id="Temperature6" class="dropdown-item Temperature SomeInfo" InfoTitle="@SharedLocalizer["MinTemperatureDev"]" onclick="ChangeSubParameter('tasmin_dlt_avg', 'Temperature6')">@SharedLocalizer["MinTemperatureDevShort"]</a>
                            @*<a class="dropdown-item" asp-area="" asp-controller="esnow" asp-action="Index">E-SNOW</a>
                                <a class="dropdown-item" asp-area="" asp-controller="climate" asp-action="Index">climate</a>*@
                        </div>
                    </li>
                </ul>
            </div>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
        <partial name="_CookieConsentPartial" />
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <!-- FOOTER -->
    @*<footer class="footer bg-light border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        <small class="text-muted">&copy; @DateTime.Now.Year.ToString() - GeoNode</small>
                    </div>
                </div>
            </div>
        </footer>*@
    <script src="~/esnow/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/esnow/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
